*.egg-info
*.mo
*.pyc
/.installed.cfg
/.mr.developer.cfg
/bin/
/build/
/buildout.cfg
/coverage/
/develop-eggs/
/eggs/
/include/
/lib/
/parts/
/src/
/var/
/include/
/lib/

### Node ###
node_modules
package-lock.json
.npm

### Grunt ###
.grunt
