*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
bin/
build/
buildout.cfg
coverage/
develop-eggs/
eggs/
parts/
src/
var/

### Bower ###
lib/

### Node ###
node_modules

### Grunt ###
.grunt

### SCSS ###
**/.sass-cache
