.sl-block-dragging {
  .sl-column {
    // BUG: Firefox cant handle the outline correctly.
    // Because that, we use box-shadow instead;
    // http://stackoverflow.com/questions/10662902/css-outline-different-behavior-behavior-on-webkit-gecko
    -moz-box-shadow: 0 0 5px 1px #000;
    -webkit-box-shadow: 0 0 5px 1px #000;
    box-shadow: 0 0 5px 1px #000;
    float: left;
  }
}

.sl-column {
  background: $column-background-color;
  min-height: 100px;
}
