.sl-block-dragging {
  .sl-column {
    outline: 2px dashed rgba(0, 0, 0, .6);
    margin-bottom: 10px;
  }
}
.sl-column {
  background: $column-background-color;
  float: left;
  max-width: 100%;
  min-height: 100px;
  width: 100%;

  @for $i from 1 through $column-count-total {
    &.sl-col-#{$i} {
      margin-right: 0;
      width: 100%;

      &:last-of-type {
        margin-right: 0 !important;
      }
    }
  }

  @media (min-width: $screen-tablet) {
    @for $i from 1 through $column-count-total {
      &.sl-col-#{$i} {
        margin-right: $gutter-width;
        width: 100% / ($i / 2) - $gutter-width + $gutter-width / ($i / 2);

        &:nth-of-type(#{$i / 2}n+#{$i / 2}) {
          margin-right: 0;
        }
      }
    }
  }

  @media (min-width: $screen-desktop) {
    @for $i from 1 through $column-count-total {
      &.sl-col-#{$i} {
        margin-right: $gutter-width;
        width: 100% / $i - $gutter-width + $gutter-width / $i;

        &:nth-of-type(#{$i / 2}n+#{$i / 2}) {
          margin-right: $gutter-width;
        }

        &:last-of-type {
          margin-right: 0 !important;
        }
      }
    }
  }
}
