.sl-simplelayout {
  min-height: 100px;
  z-index: 0;
  display: inline-block;
  width: 100%;
  .layout-placeholder {
    background-color: $layout-placeholder-background-color;
    border: 1px dotted $layout-placeholder-border-color;
    width: 100%;
    margin:-1px;
    min-height: 100px;
    float: left;
  }
  .draggableHelper {
    margin: -1px;
    // Needs to be important, since jquery.ui always sets the height style attr on the helper element.
    // Check http://bugs.jqueryui.com/ticket/4345
    height: 100px !important;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.3), inset 0 0 5px 0 rgba(255, 255, 255, 0.3);
  }
}

