.sl-layout-dragging {
  .sl-simplelayout {
    // BUG: Firefox cant handle the outline correctly.
    // Because that, we use box-shadow instead;
    // http://stackoverflow.com/questions/10662902/css-outline-different-behavior-behavior-on-webkit-gecko
    box-shadow: 0 0 5px 1px #000;
    &.disabled {
      box-shadow: none;
    }
  }
}

.sl-simplelayout {
  min-height: 100px;
  z-index: 0;
  display: inline-block;
  width: 100%;
  float: left;
  .layout-placeholder {
    background-color: $layout-placeholder-background-color;
    width: 100%;
    margin:-1px;
    min-height: 100px;
    float: left;
  }
  .draggableHelper {
    margin: -1px;
    // Needs to be important, since jquery.ui always sets the height style attr on the helper element.
    // Check http://bugs.jqueryui.com/ticket/4345
    height: 100px !important;
    width: 100px !important;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.3), inset 0 0 5px 0 rgba(255, 255, 255, 0.3);
  }
}

