$column-count-total: 8;
$column-background-color: #ecf0f1;
$column-border-color: #bdc3c7;
$layout-placeholder-background-color: #b9cbe5;
$layout-placeholder-border-color: #CEE1FF;
$block-placeholder-background-color: #b9cbe5;
$block-placeholder-border-color: #cee1ff;
$editbar-background-color: #333840;
$editbar-height: 40px;

// Media Breakpoints
$screen-mobile: 320px;
$screen-tablet: 768px;
$screen-desktop: 1200px;
$screen-tv: 1920px;