[class^="sl-toolbar-"] > li > a{background-repeat:no-repeat}[class^="sl-toolbar-"] > li > a.icon-delete{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcg\a\
MCAwIDIwMCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBjbGFzcz0iaWNvbiIgZD0i\a\
TTc1LDc5LjJ2NzUuMWMwLDEuMi0wLjQsMi4yLTEuMiwzYy0wLjgsMC44LTEuOCwxLjItMywxLjJo\a\
LTguM2MtMS4yLDAtMi4yLTAuNC0zLTEuMnMtMS4yLTEuOC0xLjItM1Y3OS4yICBjMC0xLjIsMC40\a\
LTIuMiwxLjItM3MxLjgtMS4yLDMtMS4yaDguM2MxLjIsMCwyLjIsMC40LDMsMS4yQzc0LjYsNzYu\a\
OSw3NSw3Ny45LDc1LDc5LjJ6IE0xMDguMyw3OS4ydjc1LjFjMCwxLjItMC40LDIuMi0xLjIsMyAg\a\
Yy0wLjgsMC44LTEuOCwxLjItMywxLjJoLTguM2MtMS4yLDAtMi4yLTAuNC0zLTEuMnMtMS4yLTEu\a\
OC0xLjItM1Y3OS4yYzAtMS4yLDAuNC0yLjIsMS4yLTNjMC44LTAuOCwxLjgtMS4yLDMtMS4yaDgu\a\
MyAgYzEuMiwwLDIuMiwwLjQsMywxLjJDMTA3LjksNzYuOSwxMDguMyw3Ny45LDEwOC4zLDc5LjJ6\a\
IE0xNDEuNyw3OS4ydjc1LjFjMCwxLjItMC40LDIuMi0xLjIsM3MtMS44LDEuMi0zLDEuMmgtOC4z\a\
ICBjLTEuMiwwLTIuMi0wLjQtMy0xLjJzLTEuMi0xLjgtMS4yLTNWNzkuMmMwLTEuMiwwLjQtMi4y\a\
LDEuMi0zYzAuOC0wLjgsMS44LTEuMiwzLTEuMmg4LjNjMS4yLDAsMi4yLDAuNCwzLDEuMiAgQzE0\a\
MS4zLDc2LjksMTQxLjcsNzcuOSwxNDEuNyw3OS4yeiBNMTU4LjQsMTczLjVWNTBINDEuNnYxMjMu\a\
NWMwLDEuOSwwLjMsMy43LDAuOSw1LjNjMC42LDEuNiwxLjIsMi44LDEuOSwzLjVzMS4xLDEuMSwx\a\
LjQsMS4xICBoMTA4LjRjMC4zLDAsMC43LTAuNCwxLjQtMS4xczEuMy0xLjksMS45LTMuNUMxNTgu\a\
MSwxNzcuMiwxNTguNCwxNzUuNCwxNTguNCwxNzMuNXogTTcwLjgsMzMuM2g1OC40TDEyMi45LDE4\a\
ICBjLTAuNi0wLjgtMS4zLTEuMy0yLjItMS40SDc5LjRjLTAuOSwwLjItMS42LDAuNy0yLjIsMS40\a\
TDcwLjgsMzMuM3ogTTE5MS43LDM3LjV2OC4zYzAsMS4yLTAuNCwyLjItMS4yLDNzLTEuOCwxLjIt\a\
MywxLjJIMTc1djEyMy41ICBjMCw3LjItMiwxMy40LTYuMSwxOC43cy05LDcuOS0xNC43LDcuOUg0\a\
NS44Yy01LjcsMC0xMC42LTIuNS0xNC43LTcuNlMyNSwxODEuMywyNSwxNzQuMVY1MEgxMi40Yy0x\a\
LjIsMC0yLjItMC40LTMtMS4yICBzLTEuMi0xLjgtMS4yLTN2LTguM2MwLTEuMiwwLjQtMi4yLDEu\a\
Mi0zczEuOC0xLjIsMy0xLjJoNDAuM2w5LjEtMjEuOGMxLjMtMy4yLDMuNi02LDctOC4yYzMuNC0y\a\
LjMsNi44LTMuNCwxMC4zLTMuNGg0MS43ICBjMy41LDAsNi45LDEuMSwxMC4zLDMuNGMzLjQsMi4z\a\
LDUuNyw1LDcsOC4ybDkuMSwyMS44aDQwLjNjMS4yLDAsMi4yLDAuNCwzLDEuMkMxOTEuMywzNS4y\a\
LDE5MS43LDM2LjIsMTkxLjcsMzcuNXoiIGZpbGw9IiNiY2JjYmMiLz4KPC9zdmc+\a\
")}[class^="sl-toolbar-"] > li > a.icon-delete:hover{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcg\a\
MCAwIDIwMCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBjbGFzcz0iaWNvbiIgZD0i\a\
TTc1LDc5LjJ2NzUuMWMwLDEuMi0wLjQsMi4yLTEuMiwzYy0wLjgsMC44LTEuOCwxLjItMywxLjJo\a\
LTguM2MtMS4yLDAtMi4yLTAuNC0zLTEuMnMtMS4yLTEuOC0xLjItM1Y3OS4yICBjMC0xLjIsMC40\a\
LTIuMiwxLjItM3MxLjgtMS4yLDMtMS4yaDguM2MxLjIsMCwyLjIsMC40LDMsMS4yQzc0LjYsNzYu\a\
OSw3NSw3Ny45LDc1LDc5LjJ6IE0xMDguMyw3OS4ydjc1LjFjMCwxLjItMC40LDIuMi0xLjIsMyAg\a\
Yy0wLjgsMC44LTEuOCwxLjItMywxLjJoLTguM2MtMS4yLDAtMi4yLTAuNC0zLTEuMnMtMS4yLTEu\a\
OC0xLjItM1Y3OS4yYzAtMS4yLDAuNC0yLjIsMS4yLTNjMC44LTAuOCwxLjgtMS4yLDMtMS4yaDgu\a\
MyAgYzEuMiwwLDIuMiwwLjQsMywxLjJDMTA3LjksNzYuOSwxMDguMyw3Ny45LDEwOC4zLDc5LjJ6\a\
IE0xNDEuNyw3OS4ydjc1LjFjMCwxLjItMC40LDIuMi0xLjIsM3MtMS44LDEuMi0zLDEuMmgtOC4z\a\
ICBjLTEuMiwwLTIuMi0wLjQtMy0xLjJzLTEuMi0xLjgtMS4yLTNWNzkuMmMwLTEuMiwwLjQtMi4y\a\
LDEuMi0zYzAuOC0wLjgsMS44LTEuMiwzLTEuMmg4LjNjMS4yLDAsMi4yLDAuNCwzLDEuMiAgQzE0\a\
MS4zLDc2LjksMTQxLjcsNzcuOSwxNDEuNyw3OS4yeiBNMTU4LjQsMTczLjVWNTBINDEuNnYxMjMu\a\
NWMwLDEuOSwwLjMsMy43LDAuOSw1LjNjMC42LDEuNiwxLjIsMi44LDEuOSwzLjVzMS4xLDEuMSwx\a\
LjQsMS4xICBoMTA4LjRjMC4zLDAsMC43LTAuNCwxLjQtMS4xczEuMy0xLjksMS45LTMuNUMxNTgu\a\
MSwxNzcuMiwxNTguNCwxNzUuNCwxNTguNCwxNzMuNXogTTcwLjgsMzMuM2g1OC40TDEyMi45LDE4\a\
ICBjLTAuNi0wLjgtMS4zLTEuMy0yLjItMS40SDc5LjRjLTAuOSwwLjItMS42LDAuNy0yLjIsMS40\a\
TDcwLjgsMzMuM3ogTTE5MS43LDM3LjV2OC4zYzAsMS4yLTAuNCwyLjItMS4yLDNzLTEuOCwxLjIt\a\
MywxLjJIMTc1djEyMy41ICBjMCw3LjItMiwxMy40LTYuMSwxOC43cy05LDcuOS0xNC43LDcuOUg0\a\
NS44Yy01LjcsMC0xMC42LTIuNS0xNC43LTcuNlMyNSwxODEuMywyNSwxNzQuMVY1MEgxMi40Yy0x\a\
LjIsMC0yLjItMC40LTMtMS4yICBzLTEuMi0xLjgtMS4yLTN2LTguM2MwLTEuMiwwLjQtMi4yLDEu\a\
Mi0zczEuOC0xLjIsMy0xLjJoNDAuM2w5LjEtMjEuOGMxLjMtMy4yLDMuNi02LDctOC4yYzMuNC0y\a\
LjMsNi44LTMuNCwxMC4zLTMuNGg0MS43ICBjMy41LDAsNi45LDEuMSwxMC4zLDMuNGMzLjQsMi4z\a\
LDUuNyw1LDcsOC4ybDkuMSwyMS44aDQwLjNjMS4yLDAsMi4yLDAuNCwzLDEuMkMxOTEuMywzNS4y\a\
LDE5MS43LDM2LjIsMTkxLjcsMzcuNXoiIGZpbGw9IiNlZmVmZWYiLz4KPC9zdmc+\a\
")}[class^="sl-toolbar-"] > li > a.icon-edit{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcg\a\
MCAwIDIwMCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBjbGFzcz0iaWNvbiIgZD0i\a\
TTQ3LjksMTgzLjFsMTItMTJsLTMxLTMxbC0xMiwxMnYxNC4xaDE2Ljl2MTYuOUg0Ny45eiBNMTE3\a\
LDYwLjZjMC0xLjktMS0yLjktMi45LTIuOSAgYy0wLjksMC0xLjYsMC4zLTIuMiwwLjlsLTcxLjYs\a\
NzEuNmMtMC42LDAuNi0wLjksMS40LTAuOSwyLjJjMCwxLjksMSwyLjksMi45LDIuOWMwLjksMCwx\a\
LjYtMC4zLDIuMi0wLjlMMTE2LDYyLjggIEMxMTYuNyw2Mi4yLDExNyw2MS41LDExNyw2MC42eiBN\a\
MTA5LjgsMzUuMmw1NC45LDU0LjlMNTQuOSwyMDBIMHYtNTQuOUwxMDkuOCwzNS4yeiBNMjAwLDQ3\a\
LjljMCw0LjctMS42LDguNi00LjksMTEuOWwtMjEuOSwyMS45ICBsLTU0LjktNTQuOUwxNDAuMiw1\a\
YzMuMi0zLjMsNy4xLTUsMTEuOS01YzQuNywwLDguNywxLjcsMTIsNWwzMSwzMC45QzE5OC40LDM5\a\
LjMsMjAwLDQzLjMsMjAwLDQ3Ljl6IiBmaWxsPSIjYmNiY2JjIi8+Cjwvc3ZnPg==\a\
")}[class^="sl-toolbar-"] > li > a.icon-edit:hover{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcg\a\
MCAwIDIwMCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBjbGFzcz0iaWNvbiIgZD0i\a\
TTQ3LjksMTgzLjFsMTItMTJsLTMxLTMxbC0xMiwxMnYxNC4xaDE2Ljl2MTYuOUg0Ny45eiBNMTE3\a\
LDYwLjZjMC0xLjktMS0yLjktMi45LTIuOSAgYy0wLjksMC0xLjYsMC4zLTIuMiwwLjlsLTcxLjYs\a\
NzEuNmMtMC42LDAuNi0wLjksMS40LTAuOSwyLjJjMCwxLjksMSwyLjksMi45LDIuOWMwLjksMCwx\a\
LjYtMC4zLDIuMi0wLjlMMTE2LDYyLjggIEMxMTYuNyw2Mi4yLDExNyw2MS41LDExNyw2MC42eiBN\a\
MTA5LjgsMzUuMmw1NC45LDU0LjlMNTQuOSwyMDBIMHYtNTQuOUwxMDkuOCwzNS4yeiBNMjAwLDQ3\a\
LjljMCw0LjctMS42LDguNi00LjksMTEuOWwtMjEuOSwyMS45ICBsLTU0LjktNTQuOUwxNDAuMiw1\a\
YzMuMi0zLjMsNy4xLTUsMTEuOS01YzQuNywwLDguNywxLjcsMTIsNWwzMSwzMC45QzE5OC40LDM5\a\
LjMsMjAwLDQzLjMsMjAwLDQ3Ljl6IiBmaWxsPSIjZWZlZmVmIi8+Cjwvc3ZnPg==\a\
")}[class^="sl-toolbar-"] > li > a.icon-image-left-large{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3Vu\a\
ZDpuZXcgMCAwIDIwMCAyMDA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+CiAgPHBhdGggY2xh\a\
c3M9Imljb24iIGQ9Ik0xNTcuOSwxMDcuOXYxMS4zYzAsMS41LTAuNiwyLjgtMS43LDRjLTEuMSwx\a\
LjEtMi40LDEuNy00LDEuN0g1LjZjLTEuNSwwLTIuOC0wLjYtNC0xLjdjLTEuMS0xLjEtMS43LTIu\a\
NC0xLjctNHYtMTEuMyAgICAgYzAtMS41LDAuNi0yLjgsMS43LTRjMS4xLTEuMSwyLjQtMS43LDQt\a\
MS43aDE0Ni43YzEuNSwwLDIuOCwwLjYsNCwxLjdDMTU3LjQsMTA1LDE1Ny45LDEwNi40LDE1Ny45\a\
LDEwNy45eiBNMTI0LjEsNzR2MTEuMyAgICAgYzAsMS41LTAuNiwyLjgtMS43LDRjLTEuMSwxLjEt\a\
Mi40LDEuNy00LDEuN0g1LjZjLTEuNSwwLTIuOC0wLjYtNC0xLjdjLTEuMS0xLjEtMS43LTIuNC0x\a\
LjctNFY3NGMwLTEuNSwwLjYtMi44LDEuNy00ICAgICBjMS4xLTEuMSwyLjQtMS43LDQtMS43aDEx\a\
Mi44YzEuNSwwLDIuOCwwLjYsNCwxLjdDMTIzLjUsNzEuMiwxMjQuMSw3Mi41LDEyNC4xLDc0eiBN\a\
MTQ2LjcsNDAuMnYxMS4zYzAsMS41LTAuNiwyLjgtMS43LDQgICAgIGMtMS4xLDEuMS0yLjQsMS43\a\
LTQsMS43SDUuNmMtMS41LDAtMi44LTAuNi00LTEuN2MtMS0xLjItMS42LTIuNS0xLjYtNFY0MC4y\a\
YzAtMS41LDAuNi0yLjgsMS43LTRzMi40LTEuNyw0LTEuN0gxNDEgICAgIGMxLjUsMCwyLjgsMC42\a\
LDQsMS43UzE0Ni43LDM4LjcsMTQ2LjcsNDAuMnogTTExMi44LDYuM3YxMS4zYzAsMS41LTAuNiwy\a\
LjgtMS43LDRjLTEuMSwxLjEtMi40LDEuNy00LDEuN0g1LjZjLTEuNSwwLTIuOC0wLjYtNC0xLjcg\a\
ICAgIFMwLDE5LjIsMCwxNy42VjYuM2MwLTEuNSwwLjYtMi44LDEuNy00czIuNC0xLjcsNC0xLjdo\a\
MTAxLjVjMS41LDAsMi44LDAuNiw0LDEuN0MxMTIuMywzLjUsMTEyLjgsNC44LDExMi44LDYuM3oi\a\
IGZpbGw9IiNiY2JjYmMiLz4KICA8cGF0aCBjbGFzcz0iaWNvbiIgZD0iTTUwLjIsMTI5bC0xNy40\a\
LDE3LjRMMTUuNCwxMjlINS42Yy0xLjMsMC0yLjUtMC4zLTMuNi0wLjhjLTEuMywxLjUtMiwzLjMt\a\
Miw1LjN2NTguMWMwLDIuMiwwLjgsNC4yLDIuNSw1LjggICAgIGMxLjYsMS42LDMuNiwyLjUsNS44\a\
LDIuNWg1OC4xYzIuMiwwLDQuMi0wLjgsNS44LTIuNWMxLjYtMS42LDIuNS0zLjYsMi41LTUuOGMw\a\
LTIuMi0wLjgtNC4yLTIuNS01LjhsLTE4LjYtMTguNkw5MS44LDEyOUg1MC4yeiIgZmlsbD0iI2Jj\a\
YmNiYyIvPgogIDxwYXRoIGNsYXNzPSJpY29uIiBkPSJNMTk2LjcsMy4zQzE5NSwxLjcsMTkzLjIs\a\
MSwxOTEsMWgtNTguMWMtMi4yLDAtNC4yLDAuNy01LjgsMi4zYy0xLjYsMS42LTIuNSwzLjUtMi41\a\
LDUuOCAgICAgYzAsMi4zLDAuOCw0LjIsMi41LDUuOGwxNi40LDE2LjRjMS43LDAuNCwzLjMsMS4x\a\
LDQuNiwyLjRjMS45LDEuOSwzLDQsMyw2LjZ2MTEuM2MwLDIuNi0xLjIsNC45LTMsNi43Yy0xLjks\a\
MS45LTQuNCwyLjgtNywyLjggICAgIGgtMjIuOGwtMywzaDMuMmMyLjYsMCw0LjksMS4yLDYuNywz\a\
YzEuOSwxLjksMi44LDQuNCwyLjgsN3YxMS4zYzAsMi42LTAuOSw1LTIuOCw2LjhjLTEuOSwxLjkt\a\
NC4yLDIuOS02LjcsMi45aC0zLjRsMi40LDIuNCAgICAgYzAuMiwwLjIsMC41LDAuNSwwLjgsMC42\a\
aDQuNGMwLjMtMC4yLDAuNS0wLjQsMC44LTAuNmw0My4xLTQzLjFMMTg1LjIsNzNjMS42LDEuNiwz\a\
LjYsMi41LDUuOCwyLjVzNC0wLjgsNS43LTIuNSAgICAgYzEuNi0xLjYsMi4zLTMuNiwyLjMtNS44\a\
VjlDMTk5LDYuOCwxOTguMyw1LDE5Ni43LDMuM3oiIGZpbGw9IiNiY2JjYmMiLz4KICA8cGF0aCBj\a\
bGFzcz0iaWNvbiIgZD0iTTE1Mi4zLDEwMi4ySDUuNmMtMS42LDAtMi45LDAuNi00LDEuN2MtMS4x\a\
LDEuMi0xLjcsMi41LTEuNyw0djExLjNjMCwxLjYsMC42LDIuOSwxLjcsNCAgICAgYzEuMiwxLjEs\a\
Mi41LDEuNyw0LDEuN2gxNDYuNmMxLjYsMCwyLjktMC42LDQtMS43YzEuMS0xLjIsMS43LTIuNSwx\a\
LjctNHYtMTEuM2MwLTEuNS0wLjUtMi45LTEuNi00ICAgICBDMTU1LjEsMTAyLjgsMTUzLjgsMTAy\a\
LjIsMTUyLjMsMTAyLjJ6IiBmaWxsPSIjYmNiY2JjIi8+CiAgPHBhdGggY2xhc3M9Imljb24iIGQ9\a\
Ik01LjYsNTcuMkgxNDFjMS42LDAsMi45LTAuNiw0LTEuN2MxLjEtMS4yLDEuNy0yLjUsMS43LTRW\a\
NDAuMmMwLTEuNS0wLjUtMi45LTEuNy00Yy0xLjItMS4xLTIuNS0xLjctNC0xLjcgICAgIEg1Ljdj\a\
LTEuNiwwLTIuOSwwLjUtNCwxLjdjLTEuMSwxLjItMS43LDIuNS0xLjcsNHYxMS4zYzAsMS41LDAu\a\
NiwyLjgsMS42LDRDMi44LDU2LjYsNC4xLDU3LjIsNS42LDU3LjJ6IiBmaWxsPSIjYmNiY2JjIi8+\a\
CiAgPHBhdGggY2xhc3M9Imljb24iIGQ9Ik01LjYsMjMuM2gxMDEuNWMxLjYsMCwyLjktMC42LDQt\a\
MS43YzEuMS0xLjIsMS43LTIuNSwxLjctNFY2LjNjMC0xLjUtMC41LTIuOC0xLjYtNGMtMS4yLTEu\a\
MS0yLjUtMS43LTQtMS43ICAgICBINS43Yy0xLjYsMC0yLjksMC41LTQsMS43QzAuNiwzLjUsMCw0\a\
LjgsMCw2LjN2MTEuM2MwLDEuNiwwLjQsMi45LDEuNiw0QzIuOCwyMi43LDQuMSwyMy4zLDUuNiwy\a\
My4zeiIgZmlsbD0iI2JjYmNiYyIvPgogIDxwYXRoIGNsYXNzPSJpY29uIiBkPSJNNS42LDkxaDEx\a\
Mi44YzEuNiwwLDIuOS0wLjYsNC0xLjdjMS4xLTEuMiwxLjctMi41LDEuNy00Vjc0YzAtMS41LTAu\a\
Ni0yLjgtMS43LTRjLTEuMi0xLjEtMi41LTEuNy00LTEuN0g1LjYgICAgIGMtMS42LDAtMi45LDAu\a\
Ni00LDEuN2MtMS4xLDEuMi0xLjcsMi41LTEuNyw0djExLjNjMCwxLjYsMC42LDIuOSwxLjcsNEMy\a\
LjgsOTAuNCw0LjEsOTEsNS42LDkxeiIgZmlsbD0iI2JjYmNiYyIvPgo8L2c+Cjwvc3ZnPg==\a\
")}[class^="sl-toolbar-"] > li > a.icon-image-left-large:hover{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3Vu\a\
ZDpuZXcgMCAwIDIwMCAyMDA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+CiAgPHBhdGggY2xh\a\
c3M9Imljb24iIGQ9Ik0xNTcuOSwxMDcuOXYxMS4zYzAsMS41LTAuNiwyLjgtMS43LDRjLTEuMSwx\a\
LjEtMi40LDEuNy00LDEuN0g1LjZjLTEuNSwwLTIuOC0wLjYtNC0xLjdjLTEuMS0xLjEtMS43LTIu\a\
NC0xLjctNHYtMTEuMyAgICAgYzAtMS41LDAuNi0yLjgsMS43LTRjMS4xLTEuMSwyLjQtMS43LDQt\a\
MS43aDE0Ni43YzEuNSwwLDIuOCwwLjYsNCwxLjdDMTU3LjQsMTA1LDE1Ny45LDEwNi40LDE1Ny45\a\
LDEwNy45eiBNMTI0LjEsNzR2MTEuMyAgICAgYzAsMS41LTAuNiwyLjgtMS43LDRjLTEuMSwxLjEt\a\
Mi40LDEuNy00LDEuN0g1LjZjLTEuNSwwLTIuOC0wLjYtNC0xLjdjLTEuMS0xLjEtMS43LTIuNC0x\a\
LjctNFY3NGMwLTEuNSwwLjYtMi44LDEuNy00ICAgICBjMS4xLTEuMSwyLjQtMS43LDQtMS43aDEx\a\
Mi44YzEuNSwwLDIuOCwwLjYsNCwxLjdDMTIzLjUsNzEuMiwxMjQuMSw3Mi41LDEyNC4xLDc0eiBN\a\
MTQ2LjcsNDAuMnYxMS4zYzAsMS41LTAuNiwyLjgtMS43LDQgICAgIGMtMS4xLDEuMS0yLjQsMS43\a\
LTQsMS43SDUuNmMtMS41LDAtMi44LTAuNi00LTEuN2MtMS0xLjItMS42LTIuNS0xLjYtNFY0MC4y\a\
YzAtMS41LDAuNi0yLjgsMS43LTRzMi40LTEuNyw0LTEuN0gxNDEgICAgIGMxLjUsMCwyLjgsMC42\a\
LDQsMS43UzE0Ni43LDM4LjcsMTQ2LjcsNDAuMnogTTExMi44LDYuM3YxMS4zYzAsMS41LTAuNiwy\a\
LjgtMS43LDRjLTEuMSwxLjEtMi40LDEuNy00LDEuN0g1LjZjLTEuNSwwLTIuOC0wLjYtNC0xLjcg\a\
ICAgIFMwLDE5LjIsMCwxNy42VjYuM2MwLTEuNSwwLjYtMi44LDEuNy00czIuNC0xLjcsNC0xLjdo\a\
MTAxLjVjMS41LDAsMi44LDAuNiw0LDEuN0MxMTIuMywzLjUsMTEyLjgsNC44LDExMi44LDYuM3oi\a\
IGZpbGw9IiNlZmVmZWYiLz4KICA8cGF0aCBjbGFzcz0iaWNvbiIgZD0iTTUwLjIsMTI5bC0xNy40\a\
LDE3LjRMMTUuNCwxMjlINS42Yy0xLjMsMC0yLjUtMC4zLTMuNi0wLjhjLTEuMywxLjUtMiwzLjMt\a\
Miw1LjN2NTguMWMwLDIuMiwwLjgsNC4yLDIuNSw1LjggICAgIGMxLjYsMS42LDMuNiwyLjUsNS44\a\
LDIuNWg1OC4xYzIuMiwwLDQuMi0wLjgsNS44LTIuNWMxLjYtMS42LDIuNS0zLjYsMi41LTUuOGMw\a\
LTIuMi0wLjgtNC4yLTIuNS01LjhsLTE4LjYtMTguNkw5MS44LDEyOUg1MC4yeiIgZmlsbD0iI2Vm\a\
ZWZlZiIvPgogIDxwYXRoIGNsYXNzPSJpY29uIiBkPSJNMTk2LjcsMy4zQzE5NSwxLjcsMTkzLjIs\a\
MSwxOTEsMWgtNTguMWMtMi4yLDAtNC4yLDAuNy01LjgsMi4zYy0xLjYsMS42LTIuNSwzLjUtMi41\a\
LDUuOCAgICAgYzAsMi4zLDAuOCw0LjIsMi41LDUuOGwxNi40LDE2LjRjMS43LDAuNCwzLjMsMS4x\a\
LDQuNiwyLjRjMS45LDEuOSwzLDQsMyw2LjZ2MTEuM2MwLDIuNi0xLjIsNC45LTMsNi43Yy0xLjks\a\
MS45LTQuNCwyLjgtNywyLjggICAgIGgtMjIuOGwtMywzaDMuMmMyLjYsMCw0LjksMS4yLDYuNywz\a\
YzEuOSwxLjksMi44LDQuNCwyLjgsN3YxMS4zYzAsMi42LTAuOSw1LTIuOCw2LjhjLTEuOSwxLjkt\a\
NC4yLDIuOS02LjcsMi45aC0zLjRsMi40LDIuNCAgICAgYzAuMiwwLjIsMC41LDAuNSwwLjgsMC42\a\
aDQuNGMwLjMtMC4yLDAuNS0wLjQsMC44LTAuNmw0My4xLTQzLjFMMTg1LjIsNzNjMS42LDEuNiwz\a\
LjYsMi41LDUuOCwyLjVzNC0wLjgsNS43LTIuNSAgICAgYzEuNi0xLjYsMi4zLTMuNiwyLjMtNS44\a\
VjlDMTk5LDYuOCwxOTguMyw1LDE5Ni43LDMuM3oiIGZpbGw9IiNlZmVmZWYiLz4KICA8cGF0aCBj\a\
bGFzcz0iaWNvbiIgZD0iTTE1Mi4zLDEwMi4ySDUuNmMtMS42LDAtMi45LDAuNi00LDEuN2MtMS4x\a\
LDEuMi0xLjcsMi41LTEuNyw0djExLjNjMCwxLjYsMC42LDIuOSwxLjcsNCAgICAgYzEuMiwxLjEs\a\
Mi41LDEuNyw0LDEuN2gxNDYuNmMxLjYsMCwyLjktMC42LDQtMS43YzEuMS0xLjIsMS43LTIuNSwx\a\
LjctNHYtMTEuM2MwLTEuNS0wLjUtMi45LTEuNi00ICAgICBDMTU1LjEsMTAyLjgsMTUzLjgsMTAy\a\
LjIsMTUyLjMsMTAyLjJ6IiBmaWxsPSIjZWZlZmVmIi8+CiAgPHBhdGggY2xhc3M9Imljb24iIGQ9\a\
Ik01LjYsNTcuMkgxNDFjMS42LDAsMi45LTAuNiw0LTEuN2MxLjEtMS4yLDEuNy0yLjUsMS43LTRW\a\
NDAuMmMwLTEuNS0wLjUtMi45LTEuNy00Yy0xLjItMS4xLTIuNS0xLjctNC0xLjcgICAgIEg1Ljdj\a\
LTEuNiwwLTIuOSwwLjUtNCwxLjdjLTEuMSwxLjItMS43LDIuNS0xLjcsNHYxMS4zYzAsMS41LDAu\a\
NiwyLjgsMS42LDRDMi44LDU2LjYsNC4xLDU3LjIsNS42LDU3LjJ6IiBmaWxsPSIjZWZlZmVmIi8+\a\
CiAgPHBhdGggY2xhc3M9Imljb24iIGQ9Ik01LjYsMjMuM2gxMDEuNWMxLjYsMCwyLjktMC42LDQt\a\
MS43YzEuMS0xLjIsMS43LTIuNSwxLjctNFY2LjNjMC0xLjUtMC41LTIuOC0xLjYtNGMtMS4yLTEu\a\
MS0yLjUtMS43LTQtMS43ICAgICBINS43Yy0xLjYsMC0yLjksMC41LTQsMS43QzAuNiwzLjUsMCw0\a\
LjgsMCw2LjN2MTEuM2MwLDEuNiwwLjQsMi45LDEuNiw0QzIuOCwyMi43LDQuMSwyMy4zLDUuNiwy\a\
My4zeiIgZmlsbD0iI2VmZWZlZiIvPgogIDxwYXRoIGNsYXNzPSJpY29uIiBkPSJNNS42LDkxaDEx\a\
Mi44YzEuNiwwLDIuOS0wLjYsNC0xLjdjMS4xLTEuMiwxLjctMi41LDEuNy00Vjc0YzAtMS41LTAu\a\
Ni0yLjgtMS43LTRjLTEuMi0xLjEtMi41LTEuNy00LTEuN0g1LjYgICAgIGMtMS42LDAtMi45LDAu\a\
Ni00LDEuN2MtMS4xLDEuMi0xLjcsMi41LTEuNyw0djExLjNjMCwxLjYsMC42LDIuOSwxLjcsNEMy\a\
LjgsOTAuNCw0LjEsOTEsNS42LDkxeiIgZmlsbD0iI2VmZWZlZiIvPgo8L2c+Cjwvc3ZnPg==\a\
")}[class^="sl-toolbar-"] > li > a.icon-image-left{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcg\a\
MCAwIDIwMCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBjbGFzcz0iaWNvbiIgZD0i\a\
TTE1Ny45LDEwNy4ydjExLjNjMCwxLjUtMC42LDIuOC0xLjcsNGMtMS4xLDEuMS0yLjQsMS43LTQs\a\
MS43SDUuNmMtMS41LDAtMi44LTAuNi00LTEuNyAgYy0xLjEtMS4xLTEuNy0yLjQtMS43LTR2LTEx\a\
LjNjMC0xLjUsMC42LTIuOCwxLjctNGMxLjEtMS4xLDIuNC0xLjcsNC0xLjdoMTQ2LjdjMS41LDAs\a\
Mi44LDAuNiw0LDEuNyAgQzE1Ny40LDEwNC4zLDE1Ny45LDEwNS42LDE1Ny45LDEwNy4yeiBNMTI0\a\
LjEsNzMuM3YxMS4zYzAsMS41LTAuNiwyLjgtMS43LDRjLTEuMSwxLjEtMi40LDEuNy00LDEuN0g1\a\
LjZjLTEuNSwwLTIuOC0wLjYtNC0xLjcgIGMtMS4xLTEuMS0xLjctMi40LTEuNy00VjczLjNjMC0x\a\
LjUsMC42LTIuOCwxLjctNGMxLjEtMS4xLDIuNC0xLjcsNC0xLjdoMTEyLjhjMS41LDAsMi44LDAu\a\
Niw0LDEuNyAgQzEyMy41LDcwLjUsMTI0LjEsNzEuOCwxMjQuMSw3My4zeiBNMTQ2LjcsMzkuNXYx\a\
MS4zYzAsMS41LTAuNiwyLjgtMS43LDRjLTEuMSwxLjEtMi40LDEuNy00LDEuN0g1LjZjLTEuNSww\a\
LTIuOC0wLjYtNC0xLjcgIGMtMS4xLTEuMS0xLjctMi40LTEuNy00VjM5LjVjMC0xLjUsMC42LTIu\a\
OCwxLjctNHMyLjQtMS43LDQtMS43SDE0MWMxLjUsMCwyLjgsMC42LDQsMS43UzE0Ni43LDM4LDE0\a\
Ni43LDM5LjV6IE0xMTIuOCw1LjZ2MTEuMyAgYzAsMS41LTAuNiwyLjgtMS43LDRjLTEuMSwxLjEt\a\
Mi40LDEuNy00LDEuN0g1LjZjLTEuNSwwLTIuOC0wLjYtNC0xLjdTMCwxOC40LDAsMTYuOVY1LjZj\a\
MC0xLjUsMC42LTIuOCwxLjctNFM0LjEsMCw1LjYsMGgxMDEuNSAgYzEuNSwwLDIuOCwwLjYsNCwx\a\
LjdDMTEyLjMsMi44LDExMi44LDQuMSwxMTIuOCw1LjZ6IiBmaWxsPSIjYmNiY2JjIi8+Cjwvc3Zn\a\
Pg==\a\
")}[class^="sl-toolbar-"] > li > a.icon-image-left:hover{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcg\a\
MCAwIDIwMCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBjbGFzcz0iaWNvbiIgZD0i\a\
TTE1Ny45LDEwNy4ydjExLjNjMCwxLjUtMC42LDIuOC0xLjcsNGMtMS4xLDEuMS0yLjQsMS43LTQs\a\
MS43SDUuNmMtMS41LDAtMi44LTAuNi00LTEuNyAgYy0xLjEtMS4xLTEuNy0yLjQtMS43LTR2LTEx\a\
LjNjMC0xLjUsMC42LTIuOCwxLjctNGMxLjEtMS4xLDIuNC0xLjcsNC0xLjdoMTQ2LjdjMS41LDAs\a\
Mi44LDAuNiw0LDEuNyAgQzE1Ny40LDEwNC4zLDE1Ny45LDEwNS42LDE1Ny45LDEwNy4yeiBNMTI0\a\
LjEsNzMuM3YxMS4zYzAsMS41LTAuNiwyLjgtMS43LDRjLTEuMSwxLjEtMi40LDEuNy00LDEuN0g1\a\
LjZjLTEuNSwwLTIuOC0wLjYtNC0xLjcgIGMtMS4xLTEuMS0xLjctMi40LTEuNy00VjczLjNjMC0x\a\
LjUsMC42LTIuOCwxLjctNGMxLjEtMS4xLDIuNC0xLjcsNC0xLjdoMTEyLjhjMS41LDAsMi44LDAu\a\
Niw0LDEuNyAgQzEyMy41LDcwLjUsMTI0LjEsNzEuOCwxMjQuMSw3My4zeiBNMTQ2LjcsMzkuNXYx\a\
MS4zYzAsMS41LTAuNiwyLjgtMS43LDRjLTEuMSwxLjEtMi40LDEuNy00LDEuN0g1LjZjLTEuNSww\a\
LTIuOC0wLjYtNC0xLjcgIGMtMS4xLTEuMS0xLjctMi40LTEuNy00VjM5LjVjMC0xLjUsMC42LTIu\a\
OCwxLjctNHMyLjQtMS43LDQtMS43SDE0MWMxLjUsMCwyLjgsMC42LDQsMS43UzE0Ni43LDM4LDE0\a\
Ni43LDM5LjV6IE0xMTIuOCw1LjZ2MTEuMyAgYzAsMS41LTAuNiwyLjgtMS43LDRjLTEuMSwxLjEt\a\
Mi40LDEuNy00LDEuN0g1LjZjLTEuNSwwLTIuOC0wLjYtNC0xLjdTMCwxOC40LDAsMTYuOVY1LjZj\a\
MC0xLjUsMC42LTIuOCwxLjctNFM0LjEsMCw1LjYsMGgxMDEuNSAgYzEuNSwwLDIuOCwwLjYsNCwx\a\
LjdDMTEyLjMsMi44LDExMi44LDQuMSwxMTIuOCw1LjZ6IiBmaWxsPSIjZWZlZmVmIi8+Cjwvc3Zn\a\
Pg==\a\
")}[class^="sl-toolbar-"] > li > a.icon-image-right-large{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3Vu\a\
ZDpuZXcgMCAwIDIwMCAyMDA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+CiAgPHBhdGggY2xh\a\
c3M9Imljb24iIGQ9Ik0yMDAsMTA3LjJ2MTEuM2MwLDEuNS0wLjYsMi44LTEuNyw0Yy0xLjEsMS4x\a\
LTIuNCwxLjctNCwxLjdINDcuN2MtMS41LDAtMi44LTAuNi00LTEuN2MtMS4xLTEuMS0xLjctMi40\a\
LTEuNy00di0xMS4zICAgICBjMC0xLjUsMC42LTIuOCwxLjctNGMxLjEtMS4xLDIuNC0xLjcsNC0x\a\
LjdoMTQ2LjdjMS41LDAsMi44LDAuNiw0LDEuN0MxOTkuNCwxMDQuMywyMDAsMTA1LjYsMjAwLDEw\a\
Ny4yeiBNMjAwLDczLjN2MTEuMyAgICAgYzAsMS41LTAuNiwyLjgtMS43LDRzLTIuNCwxLjctNCwx\a\
LjdIODEuNWMtMS41LDAtMi44LTAuNi00LTEuN2MtMS4xLTEuMS0xLjctMi40LTEuNy00VjczLjNj\a\
MC0xLjUsMC42LTIuOCwxLjctNCAgICAgYzEuMS0xLjEsMi40LTEuNyw0LTEuN2gxMTIuOGMxLjUs\a\
MCwyLjgsMC42LDQsMS43UzIwMCw3MS44LDIwMCw3My4zeiBNMjAwLDM5LjV2MTEuM2MwLDEuNS0w\a\
LjYsMi44LTEuNyw0cy0yLjQsMS43LTQsMS43SDU5ICAgICBjLTEuNSwwLTIuOC0wLjYtNC0xLjdz\a\
LTEuNy0yLjQtMS43LTRWMzkuNWMwLTEuNSwwLjYtMi44LDEuNy00czIuNC0xLjcsNC0xLjdoMTM1\a\
LjRjMS41LDAsMi44LDAuNiw0LDEuN1MyMDAsMzgsMjAwLDM5LjV6IE0yMDAsNS42ICAgICB2MTEu\a\
M2MwLDEuNS0wLjYsMi44LTEuNyw0Yy0xLjEsMS4xLTIuNCwxLjctNCwxLjdIOTIuOGMtMS41LDAt\a\
Mi44LTAuNi00LTEuN2MtMS4xLTEuMS0xLjctMi40LTEuNy00VjUuNmMwLTEuNSwwLjYtMi44LDEu\a\
Ny00ICAgICBzMi40LTEuNyw0LTEuN2gxMDEuNWMxLjUsMCwyLjgsMC42LDQsMS43UzIwMCw0LjEs\a\
MjAwLDUuNnoiIGZpbGw9IiNiY2JjYmMiLz4KICA8cGF0aCBjbGFzcz0iaWNvbiIgZD0iTTc4LjQs\a\
OThoMS45YzAuNy0wLjIsMS40LTAuNiwyLTEuMmwyLjgtMi44aC0zLjdjLTIuNiwwLTQuOS0wLjkt\a\
Ni43LTIuN2MtMS45LTEuOS0yLjgtNC4xLTIuOC02LjdWNzMuMyAgICAgYzAtMi42LDAuOS00Ljgs\a\
Mi44LTYuNmMxLjktMS45LDQuMi0yLjcsNi43LTIuN0g4NWwtNC00SDU5Yy0yLjYsMC01LjEtMC44\a\
LTctMi42Yy0xLjktMS45LTMtNC0zLTYuNlYzOS41YzAtMi42LDEuMi00LjksMy02LjcgICAgIGMx\a\
LjMtMS4zLDIuOS0yLjEsNC42LTIuNWwxNi4xLTE2LjFjMS42LTEuNiwyLjUtMy42LDIuNS01Ljhj\a\
MC0yLjItMC44LTQuMi0yLjUtNS44QzcxLjEsMC44LDY5LjIsMCw2Ni45LDBIOC43ICAgICBjLTIu\a\
MywwLTQuNCwwLjgtNiwyLjVDMSw0LjEsMCw2LjEsMCw4LjN2NTguMmMwLDIuMywxLDQuMiwyLjcs\a\
NS44YzEuNiwxLjYsMy43LDIuNSw1LjksMi41YzIuMiwwLDQuMi0wLjgsNS45LTIuNWwxOC43LTE4\a\
LjcgICAgIGw0My4yLDQzLjFDNzcsOTcuNCw3Ny43LDk3LjgsNzguNCw5OHoiIGZpbGw9IiNiY2Jj\a\
YmMiLz4KICA8cGF0aCBjbGFzcz0iaWNvbiIgZD0iTTE5NC40LDEyOGgtOS4zbC0xOCwxOGwtMTgt\a\
MThoLTQxLjZsMzguOCwzOC44bC0xOC43LDE4LjdjLTEuNiwxLjYtMi41LDMuNi0yLjUsNS44czAu\a\
OCw0LjQsMi41LDYgICAgIGMxLjYsMS42LDMuNiwyLjcsNS44LDIuN2g1OC4yYzIuMywwLDQuMi0x\a\
LDUuOC0yLjdjMS42LTEuNiwyLjUtMy44LDIuNS02di01OC4yYzAtMi4yLTAuOC00LjEtMi4zLTUu\a\
NyAgICAgQzE5Ni42LDEyNy44LDE5NS41LDEyOCwxOTQuNCwxMjh6IiBmaWxsPSIjYmNiY2JjIi8+\a\
CiAgPHBhdGggY2xhc3M9Imljb24iIGQ9Ik0xOTguMywxLjZjLTEuMi0xLjEtMi41LTEuNy00LTEu\a\
N0g5Mi44Yy0xLjYsMC0yLjksMC41LTQsMS43Yy0xLjEsMS4yLTEuNywyLjUtMS43LDR2MTEuMyAg\a\
ICAgYzAsMS42LDAuNiwyLjksMS43LDRjMS4yLDEuMSwyLjUsMS43LDQsMS43aDEwMS41YzEuNiww\a\
LDIuOS0wLjYsNC0xLjdjMS4xLTEuMiwxLjctMi41LDEuNy00VjUuNkMyMDAsNC4xLDE5OS41LDIu\a\
NywxOTguMywxLjZ6IiBmaWxsPSIjYmNiY2JjIi8+CiAgPHBhdGggY2xhc3M9Imljb24iIGQ9Ik0x\a\
OTQuNCwxMDEuNUg0Ny43Yy0xLjYsMC0yLjksMC42LTQsMS43Yy0xLjEsMS4yLTEuNywyLjUtMS43\a\
LDR2MTEuM2MwLDEuNiwwLjYsMi45LDEuNyw0ICAgICBjMS4yLDEuMSwyLjUsMS43LDQsMS43aDE0\a\
Ni42YzEuNiwwLDIuOS0wLjYsNC0xLjdjMS4xLTEuMiwxLjctMi41LDEuNy00di0xMS4zYzAtMS42\a\
LTAuNi0yLjktMS42LTQgICAgIEMxOTcuMiwxMDIuMSwxOTUuOSwxMDEuNSwxOTQuNCwxMDEuNXoi\a\
IGZpbGw9IiNiY2JjYmMiLz4KICA8cGF0aCBjbGFzcz0iaWNvbiIgZD0iTTE5NC4zLDY3LjZIODEu\a\
NWMtMS42LDAtMi45LDAuNi00LDEuN2MtMS4xLDEuMi0xLjcsMi41LTEuNyw0djExLjNjMCwxLjYs\a\
MC42LDIuOSwxLjcsNCAgICAgYzEuMiwxLjEsMi41LDEuNyw0LDEuN2gxMTIuOGMxLjYsMCwyLjkt\a\
MC41LDQtMS43YzEuMS0xLjIsMS43LTIuNSwxLjctNFY3My4zYzAtMS41LTAuNS0yLjktMS43LTQg\a\
ICAgIEMxOTcuMSw2OC4yLDE5NS44LDY3LjYsMTk0LjMsNjcuNnoiIGZpbGw9IiNiY2JjYmMiLz4K\a\
ICA8cGF0aCBjbGFzcz0iaWNvbiIgZD0iTTE5NC40LDMzLjhINTljLTEuNiwwLTIuOSwwLjUtNCwx\a\
LjdzLTEuNywyLjUtMS43LDR2MTEuM2MwLDEuNiwwLjUsMi45LDEuNyw0YzEuMiwxLjEsMi41LDEu\a\
Nyw0LDEuN2gxMzUuMyAgICAgYzEuNiwwLDIuOS0wLjUsNC0xLjdjMS4xLTEuMiwxLjctMi41LDEu\a\
Ny00VjM5LjVjMC0xLjUtMC40LTIuOS0xLjYtNEMxOTcuMiwzNC40LDE5NS45LDMzLjgsMTk0LjQs\a\
MzMuOHoiIGZpbGw9IiNiY2JjYmMiLz4KPC9nPgo8L3N2Zz4=\a\
")}[class^="sl-toolbar-"] > li > a.icon-image-right-large:hover{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3Vu\a\
ZDpuZXcgMCAwIDIwMCAyMDA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+CiAgPHBhdGggY2xh\a\
c3M9Imljb24iIGQ9Ik0yMDAsMTA3LjJ2MTEuM2MwLDEuNS0wLjYsMi44LTEuNyw0Yy0xLjEsMS4x\a\
LTIuNCwxLjctNCwxLjdINDcuN2MtMS41LDAtMi44LTAuNi00LTEuN2MtMS4xLTEuMS0xLjctMi40\a\
LTEuNy00di0xMS4zICAgICBjMC0xLjUsMC42LTIuOCwxLjctNGMxLjEtMS4xLDIuNC0xLjcsNC0x\a\
LjdoMTQ2LjdjMS41LDAsMi44LDAuNiw0LDEuN0MxOTkuNCwxMDQuMywyMDAsMTA1LjYsMjAwLDEw\a\
Ny4yeiBNMjAwLDczLjN2MTEuMyAgICAgYzAsMS41LTAuNiwyLjgtMS43LDRzLTIuNCwxLjctNCwx\a\
LjdIODEuNWMtMS41LDAtMi44LTAuNi00LTEuN2MtMS4xLTEuMS0xLjctMi40LTEuNy00VjczLjNj\a\
MC0xLjUsMC42LTIuOCwxLjctNCAgICAgYzEuMS0xLjEsMi40LTEuNyw0LTEuN2gxMTIuOGMxLjUs\a\
MCwyLjgsMC42LDQsMS43UzIwMCw3MS44LDIwMCw3My4zeiBNMjAwLDM5LjV2MTEuM2MwLDEuNS0w\a\
LjYsMi44LTEuNyw0cy0yLjQsMS43LTQsMS43SDU5ICAgICBjLTEuNSwwLTIuOC0wLjYtNC0xLjdz\a\
LTEuNy0yLjQtMS43LTRWMzkuNWMwLTEuNSwwLjYtMi44LDEuNy00czIuNC0xLjcsNC0xLjdoMTM1\a\
LjRjMS41LDAsMi44LDAuNiw0LDEuN1MyMDAsMzgsMjAwLDM5LjV6IE0yMDAsNS42ICAgICB2MTEu\a\
M2MwLDEuNS0wLjYsMi44LTEuNyw0Yy0xLjEsMS4xLTIuNCwxLjctNCwxLjdIOTIuOGMtMS41LDAt\a\
Mi44LTAuNi00LTEuN2MtMS4xLTEuMS0xLjctMi40LTEuNy00VjUuNmMwLTEuNSwwLjYtMi44LDEu\a\
Ny00ICAgICBzMi40LTEuNyw0LTEuN2gxMDEuNWMxLjUsMCwyLjgsMC42LDQsMS43UzIwMCw0LjEs\a\
MjAwLDUuNnoiIGZpbGw9IiNlZmVmZWYiLz4KICA8cGF0aCBjbGFzcz0iaWNvbiIgZD0iTTc4LjQs\a\
OThoMS45YzAuNy0wLjIsMS40LTAuNiwyLTEuMmwyLjgtMi44aC0zLjdjLTIuNiwwLTQuOS0wLjkt\a\
Ni43LTIuN2MtMS45LTEuOS0yLjgtNC4xLTIuOC02LjdWNzMuMyAgICAgYzAtMi42LDAuOS00Ljgs\a\
Mi44LTYuNmMxLjktMS45LDQuMi0yLjcsNi43LTIuN0g4NWwtNC00SDU5Yy0yLjYsMC01LjEtMC44\a\
LTctMi42Yy0xLjktMS45LTMtNC0zLTYuNlYzOS41YzAtMi42LDEuMi00LjksMy02LjcgICAgIGMx\a\
LjMtMS4zLDIuOS0yLjEsNC42LTIuNWwxNi4xLTE2LjFjMS42LTEuNiwyLjUtMy42LDIuNS01Ljhj\a\
MC0yLjItMC44LTQuMi0yLjUtNS44QzcxLjEsMC44LDY5LjIsMCw2Ni45LDBIOC43ICAgICBjLTIu\a\
MywwLTQuNCwwLjgtNiwyLjVDMSw0LjEsMCw2LjEsMCw4LjN2NTguMmMwLDIuMywxLDQuMiwyLjcs\a\
NS44YzEuNiwxLjYsMy43LDIuNSw1LjksMi41YzIuMiwwLDQuMi0wLjgsNS45LTIuNWwxOC43LTE4\a\
LjcgICAgIGw0My4yLDQzLjFDNzcsOTcuNCw3Ny43LDk3LjgsNzguNCw5OHoiIGZpbGw9IiNlZmVm\a\
ZWYiLz4KICA8cGF0aCBjbGFzcz0iaWNvbiIgZD0iTTE5NC40LDEyOGgtOS4zbC0xOCwxOGwtMTgt\a\
MThoLTQxLjZsMzguOCwzOC44bC0xOC43LDE4LjdjLTEuNiwxLjYtMi41LDMuNi0yLjUsNS44czAu\a\
OCw0LjQsMi41LDYgICAgIGMxLjYsMS42LDMuNiwyLjcsNS44LDIuN2g1OC4yYzIuMywwLDQuMi0x\a\
LDUuOC0yLjdjMS42LTEuNiwyLjUtMy44LDIuNS02di01OC4yYzAtMi4yLTAuOC00LjEtMi4zLTUu\a\
NyAgICAgQzE5Ni42LDEyNy44LDE5NS41LDEyOCwxOTQuNCwxMjh6IiBmaWxsPSIjZWZlZmVmIi8+\a\
CiAgPHBhdGggY2xhc3M9Imljb24iIGQ9Ik0xOTguMywxLjZjLTEuMi0xLjEtMi41LTEuNy00LTEu\a\
N0g5Mi44Yy0xLjYsMC0yLjksMC41LTQsMS43Yy0xLjEsMS4yLTEuNywyLjUtMS43LDR2MTEuMyAg\a\
ICAgYzAsMS42LDAuNiwyLjksMS43LDRjMS4yLDEuMSwyLjUsMS43LDQsMS43aDEwMS41YzEuNiww\a\
LDIuOS0wLjYsNC0xLjdjMS4xLTEuMiwxLjctMi41LDEuNy00VjUuNkMyMDAsNC4xLDE5OS41LDIu\a\
NywxOTguMywxLjZ6IiBmaWxsPSIjZWZlZmVmIi8+CiAgPHBhdGggY2xhc3M9Imljb24iIGQ9Ik0x\a\
OTQuNCwxMDEuNUg0Ny43Yy0xLjYsMC0yLjksMC42LTQsMS43Yy0xLjEsMS4yLTEuNywyLjUtMS43\a\
LDR2MTEuM2MwLDEuNiwwLjYsMi45LDEuNyw0ICAgICBjMS4yLDEuMSwyLjUsMS43LDQsMS43aDE0\a\
Ni42YzEuNiwwLDIuOS0wLjYsNC0xLjdjMS4xLTEuMiwxLjctMi41LDEuNy00di0xMS4zYzAtMS42\a\
LTAuNi0yLjktMS42LTQgICAgIEMxOTcuMiwxMDIuMSwxOTUuOSwxMDEuNSwxOTQuNCwxMDEuNXoi\a\
IGZpbGw9IiNlZmVmZWYiLz4KICA8cGF0aCBjbGFzcz0iaWNvbiIgZD0iTTE5NC4zLDY3LjZIODEu\a\
NWMtMS42LDAtMi45LDAuNi00LDEuN2MtMS4xLDEuMi0xLjcsMi41LTEuNyw0djExLjNjMCwxLjYs\a\
MC42LDIuOSwxLjcsNCAgICAgYzEuMiwxLjEsMi41LDEuNyw0LDEuN2gxMTIuOGMxLjYsMCwyLjkt\a\
MC41LDQtMS43YzEuMS0xLjIsMS43LTIuNSwxLjctNFY3My4zYzAtMS41LTAuNS0yLjktMS43LTQg\a\
ICAgIEMxOTcuMSw2OC4yLDE5NS44LDY3LjYsMTk0LjMsNjcuNnoiIGZpbGw9IiNlZmVmZWYiLz4K\a\
ICA8cGF0aCBjbGFzcz0iaWNvbiIgZD0iTTE5NC40LDMzLjhINTljLTEuNiwwLTIuOSwwLjUtNCwx\a\
LjdzLTEuNywyLjUtMS43LDR2MTEuM2MwLDEuNiwwLjUsMi45LDEuNyw0YzEuMiwxLjEsMi41LDEu\a\
Nyw0LDEuN2gxMzUuMyAgICAgYzEuNiwwLDIuOS0wLjUsNC0xLjdjMS4xLTEuMiwxLjctMi41LDEu\a\
Ny00VjM5LjVjMC0xLjUtMC40LTIuOS0xLjYtNEMxOTcuMiwzNC40LDE5NS45LDMzLjgsMTk0LjQs\a\
MzMuOHoiIGZpbGw9IiNlZmVmZWYiLz4KPC9nPgo8L3N2Zz4=\a\
")}[class^="sl-toolbar-"] > li > a.icon-image-right{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcg\a\
MCAwIDIwMCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBjbGFzcz0iaWNvbiIgZD0i\a\
TTIwMCwxMDcuMnYxMS4zYzAsMS41LTAuNiwyLjgtMS43LDRjLTEuMSwxLjEtMi40LDEuNy00LDEu\a\
N0g0Ny43Yy0xLjUsMC0yLjgtMC42LTQtMS43ICBjLTEuMS0xLjEtMS43LTIuNC0xLjctNHYtMTEu\a\
M2MwLTEuNSwwLjYtMi44LDEuNy00YzEuMS0xLjEsMi40LTEuNyw0LTEuN2gxNDYuN2MxLjUsMCwy\a\
LjgsMC42LDQsMS43ICBDMTk5LjQsMTA0LjMsMjAwLDEwNS42LDIwMCwxMDcuMnogTTIwMCw3My4z\a\
djExLjNjMCwxLjUtMC42LDIuOC0xLjcsNHMtMi40LDEuNy00LDEuN0g4MS41Yy0xLjUsMC0yLjgt\a\
MC42LTQtMS43ICBjLTEuMS0xLjEtMS43LTIuNC0xLjctNFY3My4zYzAtMS41LDAuNi0yLjgsMS43\a\
LTRjMS4xLTEuMSwyLjQtMS43LDQtMS43aDExMi44YzEuNSwwLDIuOCwwLjYsNCwxLjdTMjAwLDcx\a\
LjgsMjAwLDczLjN6IE0yMDAsMzkuNSAgdjExLjNjMCwxLjUtMC42LDIuOC0xLjcsNHMtMi40LDEu\a\
Ny00LDEuN0g1OWMtMS41LDAtMi44LTAuNi00LTEuN3MtMS43LTIuNC0xLjctNFYzOS41YzAtMS41\a\
LDAuNi0yLjgsMS43LTRzMi40LTEuNyw0LTEuN2gxMzUuNCAgYzEuNSwwLDIuOCwwLjYsNCwxLjdT\a\
MjAwLDM4LDIwMCwzOS41eiBNMjAwLDUuNnYxMS4zYzAsMS41LTAuNiwyLjgtMS43LDRjLTEuMSwx\a\
LjEtMi40LDEuNy00LDEuN0g5Mi44Yy0xLjUsMC0yLjgtMC42LTQtMS43ICBjLTEuMS0xLjEtMS43\a\
LTIuNC0xLjctNFY1LjZjMC0xLjUsMC42LTIuOCwxLjctNHMyLjQtMS43LDQtMS43aDEwMS41YzEu\a\
NSwwLDIuOCwwLjYsNCwxLjdTMjAwLDQuMSwyMDAsNS42eiIgZmlsbD0iI2JjYmNiYyIvPgo8L3N2\a\
Zz4=\a\
")}[class^="sl-toolbar-"] > li > a.icon-image-right:hover{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcg\a\
MCAwIDIwMCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBjbGFzcz0iaWNvbiIgZD0i\a\
TTIwMCwxMDcuMnYxMS4zYzAsMS41LTAuNiwyLjgtMS43LDRjLTEuMSwxLjEtMi40LDEuNy00LDEu\a\
N0g0Ny43Yy0xLjUsMC0yLjgtMC42LTQtMS43ICBjLTEuMS0xLjEtMS43LTIuNC0xLjctNHYtMTEu\a\
M2MwLTEuNSwwLjYtMi44LDEuNy00YzEuMS0xLjEsMi40LTEuNyw0LTEuN2gxNDYuN2MxLjUsMCwy\a\
LjgsMC42LDQsMS43ICBDMTk5LjQsMTA0LjMsMjAwLDEwNS42LDIwMCwxMDcuMnogTTIwMCw3My4z\a\
djExLjNjMCwxLjUtMC42LDIuOC0xLjcsNHMtMi40LDEuNy00LDEuN0g4MS41Yy0xLjUsMC0yLjgt\a\
MC42LTQtMS43ICBjLTEuMS0xLjEtMS43LTIuNC0xLjctNFY3My4zYzAtMS41LDAuNi0yLjgsMS43\a\
LTRjMS4xLTEuMSwyLjQtMS43LDQtMS43aDExMi44YzEuNSwwLDIuOCwwLjYsNCwxLjdTMjAwLDcx\a\
LjgsMjAwLDczLjN6IE0yMDAsMzkuNSAgdjExLjNjMCwxLjUtMC42LDIuOC0xLjcsNHMtMi40LDEu\a\
Ny00LDEuN0g1OWMtMS41LDAtMi44LTAuNi00LTEuN3MtMS43LTIuNC0xLjctNFYzOS41YzAtMS41\a\
LDAuNi0yLjgsMS43LTRzMi40LTEuNyw0LTEuN2gxMzUuNCAgYzEuNSwwLDIuOCwwLjYsNCwxLjdT\a\
MjAwLDM4LDIwMCwzOS41eiBNMjAwLDUuNnYxMS4zYzAsMS41LTAuNiwyLjgtMS43LDRjLTEuMSwx\a\
LjEtMi40LDEuNy00LDEuN0g5Mi44Yy0xLjUsMC0yLjgtMC42LTQtMS43ICBjLTEuMS0xLjEtMS43\a\
LTIuNC0xLjctNFY1LjZjMC0xLjUsMC42LTIuOCwxLjctNHMyLjQtMS43LDQtMS43aDEwMS41YzEu\a\
NSwwLDIuOCwwLjYsNCwxLjdTMjAwLDQuMSwyMDAsNS42eiIgZmlsbD0iI2VmZWZlZiIvPgo8L3N2\a\
Zz4=\a\
")}[class^="sl-toolbar-"] > li > a.icon-image{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcg\a\
MCAwIDIwMCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBjbGFzcz0iaWNvbiIgZD0i\a\
TTE1Ny45LDEwNy4ydjExLjNjMCwxLjUtMC42LDIuOC0xLjcsNGMtMS4xLDEuMS0yLjQsMS43LTQs\a\
MS43SDUuNmMtMS41LDAtMi44LTAuNi00LTEuNyAgYy0xLjEtMS4xLTEuNy0yLjQtMS43LTR2LTEx\a\
LjNjMC0xLjUsMC42LTIuOCwxLjctNGMxLjEtMS4xLDIuNC0xLjcsNC0xLjdoMTQ2LjdjMS41LDAs\a\
Mi44LDAuNiw0LDEuNyAgQzE1Ny40LDEwNC4zLDE1Ny45LDEwNS42LDE1Ny45LDEwNy4yeiBNMTU3\a\
LjksNzMuM3YxMS4zYzAsMS41LTAuNiwyLjgtMS43LDRzLTIuNCwxLjctNCwxLjdINS42Yy0xLjUs\a\
MC0yLjgtMC42LTQtMS43ICBTMCw4Ni4xLDAsODQuNlY3My4zYzAtMS41LDAuNi0yLjgsMS43LTRz\a\
Mi40LTEuNyw0LTEuN2gxNDYuN2MxLjUsMCwyLjgsMC42LDQsMS43UzE1Ny45LDcxLjgsMTU3Ljks\a\
NzMuM3ogTTE1Ny45LDM5LjV2MTEuMyAgYzAsMS41LTAuNiwyLjgtMS43LDRzLTIuNCwxLjctNCwx\a\
LjdINS42Yy0xLjUsMC0yLjgtMC42LTQtMS43UzAsNTIuMywwLDUwLjhWMzkuNWMwLTEuNSwwLjYt\a\
Mi44LDEuNy00czIuNC0xLjcsNC0xLjdoMTQ2LjcgIGMxLjUsMCwyLjgsMC42LDQsMS43UzE1Ny45\a\
LDM4LDE1Ny45LDM5LjV6IE0xNTcuOSw1LjZ2MTEuM2MwLDEuNS0wLjYsMi44LTEuNyw0Yy0xLjEs\a\
MS4xLTIuNCwxLjctNCwxLjdINS42Yy0xLjUsMC0yLjgtMC42LTQtMS43ICBjLTEuMS0xLjEtMS43\a\
LTIuNC0xLjctNFY1LjZjMC0xLjUsMC42LTIuOCwxLjctNFM0LjEsMCw1LjYsMGgxNDYuN2MxLjUs\a\
MCwyLjgsMC42LDQsMS43UzE1Ny45LDQuMSwxNTcuOSw1LjZ6IiBmaWxsPSIjYmNiY2JjIi8+Cjwv\a\
c3ZnPg==\a\
")}[class^="sl-toolbar-"] > li > a.icon-image:hover{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcg\a\
MCAwIDIwMCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBjbGFzcz0iaWNvbiIgZD0i\a\
TTE1Ny45LDEwNy4ydjExLjNjMCwxLjUtMC42LDIuOC0xLjcsNGMtMS4xLDEuMS0yLjQsMS43LTQs\a\
MS43SDUuNmMtMS41LDAtMi44LTAuNi00LTEuNyAgYy0xLjEtMS4xLTEuNy0yLjQtMS43LTR2LTEx\a\
LjNjMC0xLjUsMC42LTIuOCwxLjctNGMxLjEtMS4xLDIuNC0xLjcsNC0xLjdoMTQ2LjdjMS41LDAs\a\
Mi44LDAuNiw0LDEuNyAgQzE1Ny40LDEwNC4zLDE1Ny45LDEwNS42LDE1Ny45LDEwNy4yeiBNMTU3\a\
LjksNzMuM3YxMS4zYzAsMS41LTAuNiwyLjgtMS43LDRzLTIuNCwxLjctNCwxLjdINS42Yy0xLjUs\a\
MC0yLjgtMC42LTQtMS43ICBTMCw4Ni4xLDAsODQuNlY3My4zYzAtMS41LDAuNi0yLjgsMS43LTRz\a\
Mi40LTEuNyw0LTEuN2gxNDYuN2MxLjUsMCwyLjgsMC42LDQsMS43UzE1Ny45LDcxLjgsMTU3Ljks\a\
NzMuM3ogTTE1Ny45LDM5LjV2MTEuMyAgYzAsMS41LTAuNiwyLjgtMS43LDRzLTIuNCwxLjctNCwx\a\
LjdINS42Yy0xLjUsMC0yLjgtMC42LTQtMS43UzAsNTIuMywwLDUwLjhWMzkuNWMwLTEuNSwwLjYt\a\
Mi44LDEuNy00czIuNC0xLjcsNC0xLjdoMTQ2LjcgIGMxLjUsMCwyLjgsMC42LDQsMS43UzE1Ny45\a\
LDM4LDE1Ny45LDM5LjV6IE0xNTcuOSw1LjZ2MTEuM2MwLDEuNS0wLjYsMi44LTEuNyw0Yy0xLjEs\a\
MS4xLTIuNCwxLjctNCwxLjdINS42Yy0xLjUsMC0yLjgtMC42LTQtMS43ICBjLTEuMS0xLjEtMS43\a\
LTIuNC0xLjctNFY1LjZjMC0xLjUsMC42LTIuOCwxLjctNFM0LjEsMCw1LjYsMGgxNDYuN2MxLjUs\a\
MCwyLjgsMC42LDQsMS43UzE1Ny45LDQuMSwxNTcuOSw1LjZ6IiBmaWxsPSIjZWZlZmVmIi8+Cjwv\a\
c3ZnPg==\a\
")}[class^="sl-toolbar-"] > li > a.icon-no-image{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcg\a\
MCAwIDIwMCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBjbGFzcz0iaWNvbiIgZD0i\a\
TTE1Ny45LDEwNy4ydjExLjNjMCwxLjUtMC42LDIuOC0xLjcsNGMtMS4xLDEuMS0yLjQsMS43LTQs\a\
MS43SDUuNmMtMS41LDAtMi44LTAuNi00LTEuNyAgYy0xLjEtMS4xLTEuNy0yLjQtMS43LTR2LTEx\a\
LjNjMC0xLjUsMC42LTIuOCwxLjctNGMxLjEtMS4xLDIuNC0xLjcsNC0xLjdoMTQ2LjdjMS41LDAs\a\
Mi44LDAuNiw0LDEuNyAgQzE1Ny40LDEwNC4zLDE1Ny45LDEwNS42LDE1Ny45LDEwNy4yeiBNMTU3\a\
LjksNzMuM3YxMS4zYzAsMS41LTAuNiwyLjgtMS43LDRzLTIuNCwxLjctNCwxLjdINS42Yy0xLjUs\a\
MC0yLjgtMC42LTQtMS43ICBTMCw4Ni4xLDAsODQuNlY3My4zYzAtMS41LDAuNi0yLjgsMS43LTRz\a\
Mi40LTEuNyw0LTEuN2gxNDYuN2MxLjUsMCwyLjgsMC42LDQsMS43UzE1Ny45LDcxLjgsMTU3Ljks\a\
NzMuM3ogTTE1Ny45LDM5LjV2MTEuMyAgYzAsMS41LTAuNiwyLjgtMS43LDRzLTIuNCwxLjctNCwx\a\
LjdINS42Yy0xLjUsMC0yLjgtMC42LTQtMS43UzAsNTIuMywwLDUwLjhWMzkuNWMwLTEuNSwwLjYt\a\
Mi44LDEuNy00czIuNC0xLjcsNC0xLjdoMTQ2LjcgIGMxLjUsMCwyLjgsMC42LDQsMS43UzE1Ny45\a\
LDM4LDE1Ny45LDM5LjV6IE0xNTcuOSw1LjZ2MTEuM2MwLDEuNS0wLjYsMi44LTEuNyw0Yy0xLjEs\a\
MS4xLTIuNCwxLjctNCwxLjdINS42Yy0xLjUsMC0yLjgtMC42LTQtMS43ICBjLTEuMS0xLjEtMS43\a\
LTIuNC0xLjctNFY1LjZjMC0xLjUsMC42LTIuOCwxLjctNFM0LjEsMCw1LjYsMGgxNDYuN2MxLjUs\a\
MCwyLjgsMC42LDQsMS43UzE1Ny45LDQuMSwxNTcuOSw1LjZ6IiBmaWxsPSIjYmNiY2JjIi8+Cjwv\a\
c3ZnPg==\a\
")}[class^="sl-toolbar-"] > li > a.icon-no-image:hover{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcg\a\
MCAwIDIwMCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBjbGFzcz0iaWNvbiIgZD0i\a\
TTE1Ny45LDEwNy4ydjExLjNjMCwxLjUtMC42LDIuOC0xLjcsNGMtMS4xLDEuMS0yLjQsMS43LTQs\a\
MS43SDUuNmMtMS41LDAtMi44LTAuNi00LTEuNyAgYy0xLjEtMS4xLTEuNy0yLjQtMS43LTR2LTEx\a\
LjNjMC0xLjUsMC42LTIuOCwxLjctNGMxLjEtMS4xLDIuNC0xLjcsNC0xLjdoMTQ2LjdjMS41LDAs\a\
Mi44LDAuNiw0LDEuNyAgQzE1Ny40LDEwNC4zLDE1Ny45LDEwNS42LDE1Ny45LDEwNy4yeiBNMTU3\a\
LjksNzMuM3YxMS4zYzAsMS41LTAuNiwyLjgtMS43LDRzLTIuNCwxLjctNCwxLjdINS42Yy0xLjUs\a\
MC0yLjgtMC42LTQtMS43ICBTMCw4Ni4xLDAsODQuNlY3My4zYzAtMS41LDAuNi0yLjgsMS43LTRz\a\
Mi40LTEuNyw0LTEuN2gxNDYuN2MxLjUsMCwyLjgsMC42LDQsMS43UzE1Ny45LDcxLjgsMTU3Ljks\a\
NzMuM3ogTTE1Ny45LDM5LjV2MTEuMyAgYzAsMS41LTAuNiwyLjgtMS43LDRzLTIuNCwxLjctNCwx\a\
LjdINS42Yy0xLjUsMC0yLjgtMC42LTQtMS43UzAsNTIuMywwLDUwLjhWMzkuNWMwLTEuNSwwLjYt\a\
Mi44LDEuNy00czIuNC0xLjcsNC0xLjdoMTQ2LjcgIGMxLjUsMCwyLjgsMC42LDQsMS43UzE1Ny45\a\
LDM4LDE1Ny45LDM5LjV6IE0xNTcuOSw1LjZ2MTEuM2MwLDEuNS0wLjYsMi44LTEuNyw0Yy0xLjEs\a\
MS4xLTIuNCwxLjctNCwxLjdINS42Yy0xLjUsMC0yLjgtMC42LTQtMS43ICBjLTEuMS0xLjEtMS43\a\
LTIuNC0xLjctNFY1LjZjMC0xLjUsMC42LTIuOCwxLjctNFM0LjEsMCw1LjYsMGgxNDYuN2MxLjUs\a\
MCwyLjgsMC42LDQsMS43UzE1Ny45LDQuMSwxNTcuOSw1LjZ6IiBmaWxsPSIjZWZlZmVmIi8+Cjwv\a\
c3ZnPg==\a\
")}[class^="sl-toolbar-"] > li > a.icon-move{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcg\a\
MCAwIDIwMCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBjbGFzcz0iaWNvbiIgZD0i\a\
TTE5OS44LDk5LjhjMCwxLjktMC43LDMuNi0yLjEsNWwtMjguNSwyOC41Yy0xLjQsMS40LTMuMSwy\a\
LjEtNSwyLjFzLTMuNi0wLjctNS0yLjFjLTEuNC0xLjQtMi4xLTMuMS0yLjEtNSAgdi0xNC4zaC00\a\
Mi44djQyLjhoMTQuM2MxLjksMCwzLjYsMC43LDUsMi4xczIuMSwzLjEsMi4xLDVzLTAuNywzLjYt\a\
Mi4xLDVMMTA1LDE5Ny41Yy0xLjQsMS40LTMuMSwyLjEtNSwyLjFzLTMuNi0wLjctNS0yLjEgIEw2\a\
Ni41LDE2OWMtMS40LTEuNC0yLjEtMy4xLTIuMS01czAuNy0zLjYsMi4xLTVjMS40LTEuNCwzLjEt\a\
Mi4xLDUtMi4xaDE0LjN2LTQyLjhINDN2MTQuM2MwLDEuOS0wLjcsMy42LTIuMSw1ICBjLTEuNCwx\a\
LjQtMy4xLDIuMS01LDIuMWMtMS45LDAtMy42LTAuNy01LTIuMUwyLjMsMTA0LjhjLTEuNC0xLjQt\a\
Mi4xLTMuMS0yLjEtNXMwLjctMy42LDIuMS01bDI4LjUtMjguNWMxLjQtMS40LDMuMS0yLjEsNS0y\a\
LjEgIGMxLjksMCwzLjYsMC43LDUsMi4xYzEuNCwxLjQsMi4xLDMuMSwyLjEsNXYxNC4zaDQyLjhW\a\
NDIuOEg3MS41Yy0xLjksMC0zLjYtMC43LTUtMi4xYy0xLjQtMS40LTIuMS0zLjEtMi4xLTVzMC43\a\
LTMuNiwyLjEtNUw5NSwyLjEgIGMxLjQtMS40LDMuMS0yLjEsNS0yLjFzMy42LDAuNyw1LDIuMWwy\a\
OC41LDI4LjVjMS40LDEuNCwyLjEsMy4xLDIuMSw1cy0wLjcsMy42LTIuMSw1Yy0xLjQsMS40LTMu\a\
MSwyLjEtNSwyLjFoLTE0LjN2NDIuOEgxNTdWNzEuMyAgYzAtMS45LDAuNy0zLjYsMi4xLTVjMS40\a\
LTEuNCwzLjEtMi4xLDUtMi4xczMuNiwwLjcsNSwyLjFsMjguNSwyOC41QzE5OS4xLDk2LjIsMTk5\a\
LjgsOTcuOSwxOTkuOCw5OS44eiIgZmlsbD0iI2JjYmNiYyIvPgo8L3N2Zz4=\a\
")}[class^="sl-toolbar-"] > li > a.icon-move:hover{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcg\a\
MCAwIDIwMCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBjbGFzcz0iaWNvbiIgZD0i\a\
TTE5OS44LDk5LjhjMCwxLjktMC43LDMuNi0yLjEsNWwtMjguNSwyOC41Yy0xLjQsMS40LTMuMSwy\a\
LjEtNSwyLjFzLTMuNi0wLjctNS0yLjFjLTEuNC0xLjQtMi4xLTMuMS0yLjEtNSAgdi0xNC4zaC00\a\
Mi44djQyLjhoMTQuM2MxLjksMCwzLjYsMC43LDUsMi4xczIuMSwzLjEsMi4xLDVzLTAuNywzLjYt\a\
Mi4xLDVMMTA1LDE5Ny41Yy0xLjQsMS40LTMuMSwyLjEtNSwyLjFzLTMuNi0wLjctNS0yLjEgIEw2\a\
Ni41LDE2OWMtMS40LTEuNC0yLjEtMy4xLTIuMS01czAuNy0zLjYsMi4xLTVjMS40LTEuNCwzLjEt\a\
Mi4xLDUtMi4xaDE0LjN2LTQyLjhINDN2MTQuM2MwLDEuOS0wLjcsMy42LTIuMSw1ICBjLTEuNCwx\a\
LjQtMy4xLDIuMS01LDIuMWMtMS45LDAtMy42LTAuNy01LTIuMUwyLjMsMTA0LjhjLTEuNC0xLjQt\a\
Mi4xLTMuMS0yLjEtNXMwLjctMy42LDIuMS01bDI4LjUtMjguNWMxLjQtMS40LDMuMS0yLjEsNS0y\a\
LjEgIGMxLjksMCwzLjYsMC43LDUsMi4xYzEuNCwxLjQsMi4xLDMuMSwyLjEsNXYxNC4zaDQyLjhW\a\
NDIuOEg3MS41Yy0xLjksMC0zLjYtMC43LTUtMi4xYy0xLjQtMS40LTIuMS0zLjEtMi4xLTVzMC43\a\
LTMuNiwyLjEtNUw5NSwyLjEgIGMxLjQtMS40LDMuMS0yLjEsNS0yLjFzMy42LDAuNyw1LDIuMWwy\a\
OC41LDI4LjVjMS40LDEuNCwyLjEsMy4xLDIuMSw1cy0wLjcsMy42LTIuMSw1Yy0xLjQsMS40LTMu\a\
MSwyLjEtNSwyLjFoLTE0LjN2NDIuOEgxNTdWNzEuMyAgYzAtMS45LDAuNy0zLjYsMi4xLTVjMS40\a\
LTEuNCwzLjEtMi4xLDUtMi4xczMuNiwwLjcsNSwyLjFsMjguNSwyOC41QzE5OS4xLDk2LjIsMTk5\a\
LjgsOTcuOSwxOTkuOCw5OS44eiIgZmlsbD0iI2VmZWZlZiIvPgo8L3N2Zz4=\a\
")}[class^="sl-toolbar-"] > li > a.icon-folder-contents{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iLTg1IC04NiAyMDAgMjAwIiBlbmFibGUtYmFja2dyb3VuZD0i\a\
bmV3IC04NSAtODYgMjAwIDIwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxwYXRoIGNsYXNzPSJp\a\
Y29uIiBkPSJNMTE1LjIsMjYuOGMwLDIuMi0xLjEsNC41LTMuMyw3TDc2LjEsNzZjLTMuMSwzLjYt\a\
Ny4zLDYuNy0xMi44LDkuMkM1Ny44LDg3LjgsNTIuNyw4OSw0OCw4OUgtNjggICBjLTIuNCwwLTQu\a\
Ni0wLjUtNi40LTEuNGMtMS45LTAuOS0yLjgtMi41LTIuOC00LjZjMC0yLjIsMS4xLTQuNSwzLjMt\a\
N2wzNS44LTQyLjJjMy4xLTMuNiw3LjMtNi43LDEyLjgtOS4yICAgYzUuNS0yLjUsMTAuNi0zLjgs\a\
MTUuMy0zLjhoMTE1LjljMi40LDAsNC42LDAuNSw2LjQsMS40QzExNC4zLDIzLjEsMTE1LjIsMjQu\a\
NywxMTUuMiwyNi44eiBNNzguNy05Ljl2MTdILTEwICAgYy02LjcsMC0xMy43LDEuNy0yMSw1LjFj\a\
LTcuMywzLjQtMTMuMSw3LjYtMTcuNSwxMi43bC0zNi40LDQyLjhjMC0wLjMsMC0wLjctMC4xLTEu\a\
M2MwLTAuNi0wLjEtMS0wLjEtMS4zVi0zNy4xICAgYzAtNi41LDIuMy0xMi4xLDctMTYuOHMxMC4z\a\
LTcsMTYuOC03SC0yN2M2LjUsMCwxMi4xLDIuMywxNi44LDdjNC43LDQuNyw3LDEwLjMsNywxNi44\a\
djMuNGg1OGM2LjUsMCwxMi4xLDIuMywxNi44LDcgICBDNzYuMy0yMiw3OC43LTE2LjQsNzguNy05\a\
Ljl6IiBmaWxsPSIjYmNiY2JjIi8+Cjwvc3ZnPg==\a\
")}[class^="sl-toolbar-"] > li > a.icon-folder-contents:hover{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iLTg1IC04NiAyMDAgMjAwIiBlbmFibGUtYmFja2dyb3VuZD0i\a\
bmV3IC04NSAtODYgMjAwIDIwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxwYXRoIGNsYXNzPSJp\a\
Y29uIiBkPSJNMTE1LjIsMjYuOGMwLDIuMi0xLjEsNC41LTMuMyw3TDc2LjEsNzZjLTMuMSwzLjYt\a\
Ny4zLDYuNy0xMi44LDkuMkM1Ny44LDg3LjgsNTIuNyw4OSw0OCw4OUgtNjggICBjLTIuNCwwLTQu\a\
Ni0wLjUtNi40LTEuNGMtMS45LTAuOS0yLjgtMi41LTIuOC00LjZjMC0yLjIsMS4xLTQuNSwzLjMt\a\
N2wzNS44LTQyLjJjMy4xLTMuNiw3LjMtNi43LDEyLjgtOS4yICAgYzUuNS0yLjUsMTAuNi0zLjgs\a\
MTUuMy0zLjhoMTE1LjljMi40LDAsNC42LDAuNSw2LjQsMS40QzExNC4zLDIzLjEsMTE1LjIsMjQu\a\
NywxMTUuMiwyNi44eiBNNzguNy05Ljl2MTdILTEwICAgYy02LjcsMC0xMy43LDEuNy0yMSw1LjFj\a\
LTcuMywzLjQtMTMuMSw3LjYtMTcuNSwxMi43bC0zNi40LDQyLjhjMC0wLjMsMC0wLjctMC4xLTEu\a\
M2MwLTAuNi0wLjEtMS0wLjEtMS4zVi0zNy4xICAgYzAtNi41LDIuMy0xMi4xLDctMTYuOHMxMC4z\a\
LTcsMTYuOC03SC0yN2M2LjUsMCwxMi4xLDIuMywxNi44LDdjNC43LDQuNyw3LDEwLjMsNywxNi44\a\
djMuNGg1OGM2LjUsMCwxMi4xLDIuMywxNi44LDcgICBDNzYuMy0yMiw3OC43LTE2LjQsNzguNy05\a\
Ljl6IiBmaWxsPSIjZWZlZmVmIi8+Cjwvc3ZnPg==\a\
")}[class^="sl-toolbar-"] > li > a.icon-image-upload{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3Vu\a\
ZDpuZXcgMCAwIDIwMCAyMDA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8cGF0aCBjbGFz\a\
cz0iaWNvbiIgZD0iTTE0OCw5OWgtNDYuOVY1MmMwLTMtMS4xLTUuNi0zLjItNy43Yy0yLjEtMi4x\a\
LTQuNy0zLjItNy43LTMuMkg2OC41Yy0zLDAtNS42LDEuMS03LjcsMy4yICAgYy0yLjEsMi4xLTMu\a\
Miw0LjctMy4yLDcuN3Y0Ni45SDEwLjhjLTMsMC01LjYsMS4xLTcuNywzLjJjLTIuMSwyLjEtMy4y\a\
LDQuNy0zLjIsNy43djIxLjZjMCwzLDEuMSw1LjYsMy4yLDcuNyAgIGMyLjEsMi4xLDQuNywzLjIs\a\
Ny43LDMuMmg0Ni45djQ2LjljMCwzLDEuMSw1LjYsMy4yLDcuN2MyLjEsMi4xLDQuNywzLjIsNy43\a\
LDMuMmgyMS42YzMsMCw1LjYtMS4xLDcuNy0zLjIgICBjMi4xLTIuMSwzLjItNC43LDMuMi03Ljd2\a\
LTQ2LjloNDYuOGMzLDAsNS42LTEuMSw3LjctMy4yYzIuMS0yLjEsMy4yLTQuNywzLjItNy43di0y\a\
MS42YzAtMy0xLjEtNS41LTMtNy42ICAgQzE1My43LDEwMCwxNTEsOTksMTQ4LDk5eiIgZmlsbD0i\a\
I2JjYmNiYyIvPgoJPHBhdGggY2xhc3M9Imljb24iIGQ9Ik0xMDUsMTQ2LjJ2MTEuMmMxLjUsMC43\a\
LDMuMSwxLjEsNC45LDEuMWgyMS42YzMsMCw1LjYtMS4xLDcuNy0zLjJjMi4xLTIuMSwzLjItNC43\a\
LDMuMi03Ljd2LTEuNUwxMDUsMTQ2LjIgICBMMTA1LDE0Ni4yeiIgZmlsbD0iI2JjYmNiYyIvPgoJ\a\
PHBhdGggY2xhc3M9Imljb24iIGQ9Ik01My44LDk1TDUzLjgsOTVWNTcuN2gtMS41Yy0zLDAtNS42\a\
LDEuMS03LjcsMy4yYy0yLjEsMi4xLTMuMiw0LjctMy4yLDcuN3YyMS42YzAsMS44LDAuNCwzLjQs\a\
MS4xLDQuOUg1My44eiIgZmlsbD0iI2JjYmNiYyIvPgoJPHBhdGggY2xhc3M9Imljb24iIGQ9Ik0x\a\
OTYuOSw2MC44Yy0yLjEtMi4xLTQuNy0zLjItNy43LTMuMmgtNDYuOFYxMC44YzAtMy0xLjEtNS42\a\
LTMuMi03LjdDMTM3LDEsMTM0LjUsMCwxMzEuNSwwaC0yMS43ICAgYy0zLDAtNS42LDEuMS03Ljcs\a\
My4yQzEwMCw1LjIsOTksNy44LDk5LDEwLjh2MjkuNWMwLjYsMC40LDEuMSwwLjksMS42LDEuNGMy\a\
LjksMi45LDQuMyw2LjQsNC4zLDEwLjVWOTVoNDIuOSAgIGM0LjEsMCw3LjYsMS41LDEwLjUsNC4z\a\
YzAuNSwwLjUsMSwxLjEsMS40LDEuNmgyOS41YzMsMCw1LjYtMS4xLDcuNy0zLjJjMi4xLTIuMSwz\a\
LjItNC43LDMuMi03LjdWNjguM0MyMDAsNjUuNSwxOTksNjMsMTk2LjksNjAuOCAgIHoiIGZpbGw9\a\
IiNiY2JjYmMiLz4KPC9nPgo8L3N2Zz4=\a\
")}[class^="sl-toolbar-"] > li > a.icon-image-upload:hover{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw\a\
Oi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4PSIw\a\
cHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3Vu\a\
ZDpuZXcgMCAwIDIwMCAyMDA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8cGF0aCBjbGFz\a\
cz0iaWNvbiIgZD0iTTE0OCw5OWgtNDYuOVY1MmMwLTMtMS4xLTUuNi0zLjItNy43Yy0yLjEtMi4x\a\
LTQuNy0zLjItNy43LTMuMkg2OC41Yy0zLDAtNS42LDEuMS03LjcsMy4yICAgYy0yLjEsMi4xLTMu\a\
Miw0LjctMy4yLDcuN3Y0Ni45SDEwLjhjLTMsMC01LjYsMS4xLTcuNywzLjJjLTIuMSwyLjEtMy4y\a\
LDQuNy0zLjIsNy43djIxLjZjMCwzLDEuMSw1LjYsMy4yLDcuNyAgIGMyLjEsMi4xLDQuNywzLjIs\a\
Ny43LDMuMmg0Ni45djQ2LjljMCwzLDEuMSw1LjYsMy4yLDcuN2MyLjEsMi4xLDQuNywzLjIsNy43\a\
LDMuMmgyMS42YzMsMCw1LjYtMS4xLDcuNy0zLjIgICBjMi4xLTIuMSwzLjItNC43LDMuMi03Ljd2\a\
LTQ2LjloNDYuOGMzLDAsNS42LTEuMSw3LjctMy4yYzIuMS0yLjEsMy4yLTQuNywzLjItNy43di0y\a\
MS42YzAtMy0xLjEtNS41LTMtNy42ICAgQzE1My43LDEwMCwxNTEsOTksMTQ4LDk5eiIgZmlsbD0i\a\
I2VmZWZlZiIvPgoJPHBhdGggY2xhc3M9Imljb24iIGQ9Ik0xMDUsMTQ2LjJ2MTEuMmMxLjUsMC43\a\
LDMuMSwxLjEsNC45LDEuMWgyMS42YzMsMCw1LjYtMS4xLDcuNy0zLjJjMi4xLTIuMSwzLjItNC43\a\
LDMuMi03Ljd2LTEuNUwxMDUsMTQ2LjIgICBMMTA1LDE0Ni4yeiIgZmlsbD0iI2VmZWZlZiIvPgoJ\a\
PHBhdGggY2xhc3M9Imljb24iIGQ9Ik01My44LDk1TDUzLjgsOTVWNTcuN2gtMS41Yy0zLDAtNS42\a\
LDEuMS03LjcsMy4yYy0yLjEsMi4xLTMuMiw0LjctMy4yLDcuN3YyMS42YzAsMS44LDAuNCwzLjQs\a\
MS4xLDQuOUg1My44eiIgZmlsbD0iI2VmZWZlZiIvPgoJPHBhdGggY2xhc3M9Imljb24iIGQ9Ik0x\a\
OTYuOSw2MC44Yy0yLjEtMi4xLTQuNy0zLjItNy43LTMuMmgtNDYuOFYxMC44YzAtMy0xLjEtNS42\a\
LTMuMi03LjdDMTM3LDEsMTM0LjUsMCwxMzEuNSwwaC0yMS43ICAgYy0zLDAtNS42LDEuMS03Ljcs\a\
My4yQzEwMCw1LjIsOTksNy44LDk5LDEwLjh2MjkuNWMwLjYsMC40LDEuMSwwLjksMS42LDEuNGMy\a\
LjksMi45LDQuMyw2LjQsNC4zLDEwLjVWOTVoNDIuOSAgIGM0LjEsMCw3LjYsMS41LDEwLjUsNC4z\a\
YzAuNSwwLjUsMSwxLjEsMS40LDEuNmgyOS41YzMsMCw1LjYtMS4xLDcuNy0zLjJjMi4xLTIuMSwz\a\
LjItNC43LDMuMi03LjdWNjguM0MyMDAsNjUuNSwxOTksNjMsMTk2LjksNjAuOCAgIHoiIGZpbGw9\a\
IiNlZmVmZWYiLz4KPC9nPgo8L3N2Zz4=\a\
")}
