/* This file is only used when ftw.theming is installed. */

@include portal-type-font-awesome-icon(ftw-simplelayout-contentpage, list-alt);
@include portal-type-font-awesome-icon(ftw-simplelayout-filelistingblock, list);
@include portal-type-font-awesome-icon(ftw-simplelayout-galleryblock, picture-o);
@include portal-type-font-awesome-icon(ftw-simplelayout-listingblock, list-ul);
@include portal-type-font-awesome-icon(ftw-simplelayout-textblock, paragraph);
@include portal-type-font-awesome-icon(ftw-simplelayout-videoblock, film);

.sl-image {
  width: 100%;

  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
  &.sl_textblock_small{
    @include screen-small() {
      width: 25%;
    }
  }
  &.sl_textblock_middle {
    @include screen-small() {
      width: 50%;
    }
  }
  img {
    vertical-align: middle;
  }
}

.ui-sortable-disabled .sl-layout:hover .sl-toolbar-layout {
  opacity: 0;
}

.sl-block-content {
  @include clearfix();
  .sl-image {
    margin-bottom: $margin-paragraph-vertical;

    &.left {
      margin-right: $margin-paragraph-vertical;
    }

    &.right {
      margin-left: $margin-paragraph-vertical;
    }
    .image-caption {
      text-align: center;
    }
  }
}

// Listingblock
.sl-block.ftw-simplelayout-filelistingblock {
  table {
    tr {
      th {
        white-space: nowrap;
        text-align: left;
        &.header-getObjSize {
          text-align: right;
        }
      }
      td {

        &.column-modified {
          width: 85px;
        }

        &.column-portal_type {
          width: 25px;
          padding-right: 0;
        }

        &.column-getObjSize {
          width: 75px;
        }

        &:last-child:not(.column-sortable_title){
          text-align: right;
        }

        img {
          margin: 0;
        }
      }
    }
  }
}

.sl-block {
  @include clearfix();
  width: 100%;
  opacity: 1;
  transition: opacity .2s, background .2s;
  position: relative;
  float: left;
  margin-bottom: $margin-vertical;
  &.titleOnly {
    margin-bottom: 0;
  }
  &.ui-sortable-helper {
    opacity: .8;
  }
  &:hover .sl-toolbar-block {
    opacity: 1;
    visibility: visible;
  }
  &.animated {
    opacity: 0;
    background: $color-content-background;
  }
  .iFrameFix {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    opacity: 0.001;
    z-index: 1000;
    background-color: $color-content-background;
  }
}

.sl-block-dragging {
  .sl-column {
    border: 1px dashed $color-text;
  }
}

.sl-layout {
    @include clearfix();
    width: 100%;
    opacity: 1;
    position: relative;
    transition: background .2s;
    float: left;
    .block-placeholder {
        background-color: $color-gray-dark;
        width: 100%;
        min-height: 98px;
        float: left;
        margin-bottom: $margin-vertical;
    }
    &.ui-sortable-helper {
        opacity: .9;
        background-color: $color-white;
        box-shadow: $box-shadow-secondary;
        padding: 5px;
    }
    &:hover .sl-toolbar-layout {
        visibility: visible;
    }
}

.sl-column {
  float: left;
  background: $color-content-background;
}

@for $x from 1 through $columns {
  .sl-col-#{$x} {
    @include floatgrid($x);
  }
}

.sl-layout-dragging {
  .sl-simplelayout {
    border: 1px dashed $color-text;
    padding: $padding-horizontal;
    &.disabled {
      box-shadow: none;
    }
  }
  .sl-layout {
    border: 1px dashed $color-text;
  }
  .documentEditable {
    .sl-column:empty {
      border: none;
    }
  }
}

.sl-simplelayout {
  @include clearfix();
  z-index: 0;
  display: block;
  width: 100%;
  float: left;
  .layout-placeholder {
    background-color: $color-gray-dark;
    border: 1px solid $color-gray-dark;
    margin-bottom: $margin-vertical;
    width: 100%;
    min-height: 100px;
    float: left;
  }
  .draggableHelper {
    // Needs to be important, since jquery.ui always sets the height style attr on the helper element.
    // Check http://bugs.jqueryui.com/ticket/4345
    height: 100px !important;
    width: 100px !important;
    background-color: $color-gray-dark;
    box-shadow: $box-shadow-secondary;
  }
}

$editbar-height: $line-height-base + 2 * $padding-vertical;

ul[class^="sl-toolbar"] {
  @include list();
  position: absolute;
  top: 0;
  right: -$editbar-height;
  white-space: nowrap;
  background-color: $color-text;
  visibility: hidden;
  border-radius: $border-radius-primary;
  z-index: 4;
  li {
    text-align: center;
    a {
      width: $editbar-height;
      height: $editbar-height;
      background-size: $font-size-medium;
      background-position: center;
      padding: 0;
      cursor: pointer;
    }
    &.delimiter {
      width: $editbar-height;
      height: 1px;
      background: lighten($color-text, 5%);
      &:last-child {
        display: none;
      }
    }
  }
  &.horizontal {
    @include list-horizontal();
    right: 0;
    top: -$editbar-height;
    height: $editbar-height;
    li {
      display: inline-block;
      float: none;
      &.delimiter {
        width: 1px;
        height: $editbar-height;
      }
    }
  }
}

.simplelayout-initialized body {
  padding-right: $editbar-height;
}

.sl-toolbox {
  @include noselect();
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  display: table;
  background: $color-text;

  span {
    @extend .fa-icon;
    // Needs to be set because the icons looks bold without this attribute.
    // See http://caniuse.com/#search=font-smooth for more information
    -webkit-font-smoothing: antialiased;
    display: table-cell;
    vertical-align: middle;
    &:before {
      margin: 0 !important;
    }
  }

  .blocks span {
    @extend .fa-cube;
  }
  .layouts span {
    @extend .fa-th;
  }

  > div {
    display: table-cell;
    vertical-align: middle;
  }

  a {
    display: table;
    color: darken($color-text-inverted, 20%);
    background-color: $color-text;
    width: 100%;
    box-sizing: border-box;
    direction: rtl;
    text-align: center;
    border-bottom: 1px solid lighten($color-text, 5%);
    box-sizing:content-box;
    position: relative;
    width: $editbar-height;
    height: $editbar-height;

    &.ui-draggable-dragging {
      box-shadow: $box-shadow-secondary;
    }

    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      width: 2px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
    }

    // Drag hint when clicking a block without dragging.
    &:after {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: block;
      position: absolute;
      z-index: -1;
      top: 50%;
      right: 50%;
      margin-right: -5px;
      margin-top: -5px;
    }

    &:hover {
      cursor: pointer;
      color: $color-text-inverted;
      text-decoration: none;
      &:before {
        background-color: $color-edit;
      }
      > .description {
        visibility: visible;
      }
    }

    &.hintDropped {
      &:after {
        background-color: $color-edit;
        transition: transform 300ms, opacity 300ms;
        transform: scale(20);
        opacity: 0;
      }
    }
  }

  .description {
    direction: ltr;
    white-space: nowrap;
    text-align: right;
    background-color: $color-text;
    padding: $padding-vertical / 2 $padding-horizontal / 2;
    color: $color-text-inverted;
    border-radius: $border-radius-primary;
    float: right;
    visibility: hidden;
    position: absolute;
    font-weight: normal;
    margin-top: ($padding-vertical / 2 + 1em) / 4;
    margin-right: $margin-horizontal;
  }

  .sl-toolbox-header {
    @include auto-text-color($color-edit);
    background-color: $color-edit;
    border: 0;
    &:before {
      background-color: $color-edit;
    }
    &:hover {
      cursor: default;
    }
  }

  .ui-sortable-helper {
    width: 1em !important;
    height: auto !important;
  }

}

// If user is permitted to edit the simplelayout page
.documentEditable {
  .sl-simplelayout {
    min-height: 100px;
  }
  .sl-layout {
    min-height: 100px;
    margin-bottom: $margin-vertical;
  }
  .sl-column {
    min-height: 100px;
    &:empty {
      border: 1px dashed $color-text;
    }
  }
  .sl-block {
    @include transition(box-shadow .3s ease-out);
    min-height: 98px;
    &:hover {
      @include boxshadow(0 0 20px 0 $color-edit);
    }
    &.hidden {
      @include boxshadow(0 0 20px 0 $color-warning);
    }
  }
}

.galleryblockImageWrapper {
  margin-bottom: $margin-vertical;
  > a {
    display: block;
    img {
      vertical-align: middle;
      margin: 0;
    }
  }
}

@for $x from 1 through $columns {
  .sl-col-#{$x} .galleryblockImageWrapper {
    @if $x <= 4 {
      @include floatgrid(4 / $x, $by-index: false);
    } @else {
      @include floatgrid(1, $by-index: false);
    }
  }
}

.SimplelayoutPortlet .galleryblockImageWrapper {
  @include floatgrid(1, $by-index: false);
}

.SimplelayoutPortlet {
 .sl-column {
  min-height: 100px;
    &:empty {
      border: 1px dashed $color-text;
      margin-bottom: $margin-vertical;
    }
  }
}

.overlay-open {
  overflow: hidden;
}
