/* This file is only used when ftw.theming is installed. */

@include portal-type-font-awesome-icon(ftw-simplelayout-contentpage, file-text-o);
@include portal-type-font-awesome-icon(ftw-simplelayout-filelistingblock, list);
@include portal-type-font-awesome-icon(ftw-simplelayout-galleryblock, picture-o);
@include portal-type-font-awesome-icon(ftw-simplelayout-listingblock, list-ul);
@include portal-type-font-awesome-icon(ftw-simplelayout-textblock, paragraph);
@include portal-type-font-awesome-icon(ftw-simplelayout-videoblock, film);


.sl-toolbar-layout,
.sl-toolbar-block {
  @include ul(plain);
}


.sl-image {
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
  &.sl_textblock_small{
    width: 25%;
  }
  &.sl_textblock_middle {
    width: 50%;
  }
  &.sl_textblock_large {
    width: 100%;
  }
  img {
    width: 100%;
  }
}


.ui-sortable-disabled .sl-layout:hover .sl-toolbar-layout {
  opacity: 0;
}


.galleryblockImageWrapper{
  display: table;
  float: left;
  background-color: #eee;
  overflow: hidden;
  vertical-align: middle;
  border: 1px solid #ddd;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}
.galleryblockImageWrapper a{
  display: table-cell;
  vertical-align: middle;
}
