/* This file is only used with standard Plone when ftw.theming is not installed.
 */

#form-widgets-ITeaser-internal_link-contenttree-window {
  z-index: 70000;
}

#content [class^="sl-toolbar"] {
  list-style-type: none;
  margin: 0;
}

#content [class^="sl-toolbar"] > li {
  margin: 0;
  line-height: initial;
  display: inline-block;
}

#content ul[class^="sl-toolbar"] li.delimiter:last-child {
  display: none;
}

.sl-image.left {
  float: left;
}

.sl-image.right {
  float: right;
}

.ui-sortable-disabled .sl-layout:hover .sl-toolbar-layout{
  opacity: 0;
}

.galleryblockImageWrapper{
  display: table;
  float: left;
  background-color: #eee;
  overflow: hidden;
  vertical-align: middle;
  border: 1px solid #ddd;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}
.galleryblockImageWrapper a{
  display: table-cell;
  vertical-align: middle;
}
