
div.simplelayout {
    position:relative;
    height: auto;
    min-height: 10em;
}
div.simplelayout > div.sl-block {
    display:block;
    /*border: 1px solid #555;*/
    margin: 0;
    padding: 0;
    position: absolute;
}

.block-sortable-placeholder {
    background-color: #aaa;
}

.dragging {
    opacity: .8;
    background: #ff6903; }

.sl-block > .block-wrapper {
    height: 100%;
    overflow: hidden;
}

.documentEditable .sl-block > .block-wrapper {
    border-left:1px dashed #aebdcc;
    border-right:1px dashed #aebdcc;
    border-top:1px dashed #aebdcc;
    border-bottom:1px dashed #aebdcc;
}

.sl-add-block {
    height:20em;
}

#content ul.sl-controls {
    position: absolute;
    z-index: 90;
    list-style-type: none;
    background-color: white;
    border-radius: 3px;
    margin:0;
    padding:0;
    top:2px;
    right:7px;
    overflow: hidden;
    z-index:91;
    display:none;
}

#content .sl-block:hover ul.sl-controls {
    display: block;
}

#content ul.sl-controls > li {
    display:inline-block;
}
#content ul.sl-controls > li > a {
    color:transparent;
    border:0;
}

.simplelayout .ui-resizable-handle.ui-resizable-e {
    background-color: #eee;
    border-radius: 5px;
    right:0;
    opacity: 0.8;
}

.simplelayout .ui-resizable-handle.ui-resizable-e:after {
    content:" ";
    background-image: url(++resource++jquery-ui-themes/sunburst/images/ui-icons_205c90_256x240.png);
    background-position: -32px -224px;
    width:16px;
    height:16px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: -4px;
}

.simplelayout .ui-resizable-handle.ui-resizable-s {
    background-color: #eee;
    border-radius: 5px;
    bottom:0;
    opacity: 0.8;
}

.simplelayout .ui-resizable-handle.ui-resizable-s:after {
    content:" ";
    background-image: url(++resource++jquery-ui-themes/sunburst/images/ui-icons_205c90_256x240.png);
    background-position: -48px -224px;
    width:16px;
    height:16px;
    background-color: transparent;
    position: absolute;
    left: 50%;
    bottom:-4px;
}

.sl-img-wrapper {
    position: relative;
}

.sl-img-wrapper.float-image-left {
    padding-right: 0.5em
}

.sl-img-wrapper.float-image-right {
    padding-left: 0.5em
}

#content fieldset.simplelayout-page-controls {
    border-style:solid;
    display:inline;
}

.progressBar {
    width: 100%;
    height: 2em;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display:inline-block;
    vertical-align:top;
}

.progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 2em;
    width: 0;
    background-color: #205c90; border-radius: 3px;
}
.statusbar
{
    min-height:25px;
    width:100%;
    vertical-align:top;
}


span.imagefloat {
    background-color: white;
    opacity: 0.6;
}

.imagefloat.left {
    position: absolute;
    top: 50%;
    left: 0;
}

.imagefloat.right {
    position: absolute;
    top: 50%;
    right: 12px; /* Otherwise it's directly behind the resize handler. */
}

.imagefloat.none {
    position: absolute;
    top: 50%;
    right: 50%;
}

.sl-upload-active {
    min-height: 5em;
    border: 1px dotted green;
    background-color: lightgoldenrodyellow;
}

/* contenttree window needs a higher zindex than the overlay */
body .contenttreeWindow {
    z-index: 10000;
}

.sl-block [data-simplelayout-url] {
    cursor: pointer;
}