
div.simplelayout {
    position:relative;
    height: auto;
    min-height: 100px;
}
div.simplelayout > div.sl-block {
    display:block;
    /*border: 1px solid #555;*/
    margin: 0;
    padding: 0;
    position: absolute;
}

.block-sortable-placeholder {
    background-color: #aaa;
}

.dragging {
    opacity: .8;
    background: #ff6903; }

.sl-block > .block-wrapper {
    height: 100%;
    overflow: hidden;
}

.documentEditable .sl-block > .block-wrapper {
    border-left:1px dashed #aebdcc;
    border-right:1px dashed #aebdcc;
    border-top:1px dashed #aebdcc;
    border-bottom:1px dashed #aebdcc;
}

.sl-add-block {
    height:200px;
}

#content ul.sl-controls {
    position: absolute;
    z-index: 90;
    list-style-type: none;
    background-color: white;
    border-radius: 3px;
    margin:0;
    padding:0;
    top:0;
    right:1em;
    overflow: hidden;
}

#content ul.sl-controls > li {
    display:inline-block;
}
#content ul.sl-controls > li > a {
    color:transparent;
    border:0;
}

span.imagefloat {
    background-color: white;
    opacity: 0.6;
}

.sl-img-wrapper {
    position: relative;
}

.sl-img-wrapper.float-image-left {
    padding-right: 0.5em
}

.sl-img-wrapper.float-image-right {
    padding-left: 0.5em
}

#content fieldset.simplelayout-page-controls {
    border-style:solid;
    display:inline;
}

.progressBar {
    width: 100%;
    height: 2em;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display:inline-block;
    vertical-align:top;
}

.progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 2em;
    width: 0;
    background-color: #205c90; border-radius: 3px;
}
.statusbar
{
    min-height:25px;
    width:100%;
    vertical-align:top;
}