
div.simplelayout > div.sl-block {
    display:block;
    /*border: 1px solid #555;*/
    margin: 0;
    background-color: yellow;
}

.block-sortable-placeholder {
    background-color: #aaa !important;
}

.dragging {
    opacity: .8;
    background: #ff6903; }


#content {
    border:1px solid red;
}