div.overlay {
  width: 80%;
}

div.overlay .pb-ajax{
  padding: 1em;
}

div.overlay .close {
  background-image: url("../pb_close.png");
  position: absolute;
  left: -14px;
  top: -14px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

#content [class^="sl-toolbar"] {
  list-style-type: none;
}

#content a:link, #content a:visited {
  border:none;
  color:#818491;
}

#content a:hover {
  color:#bbbed0 !important;
}

#content ul {
  margin: 0;
}

#simplelayout .sl-block {
  margin-bottom: 1em;
}

#simplelayout .sl-block:last-child {
  margin-bottom: 0;
}

#form-widgets-ITeaser-internal_link-contenttree-window {
  z-index: 70000;
}

.sl-image.left {
    float: left;
}

.sl-image.right {
    float: right;
}